<template>
  <div>
    <InterviewPage
      v-if="type === 'interview'"
      :post="post"
    />

    <EditorialPage
      v-if="type === 'editorial'"
      :post="post"
    />
  </div>
</template>

<script>
import { createClient } from '~/plugins/contentful.js'
import InterviewPage from '@/components/Blocks/InterviewPage'
import EditorialPage from '@/components/Blocks/EditorialPage'

const client = createClient()

export default {
  head () {
    return {
      title: `${this.post.title} - Your Palette`,
    }
  },
  components: {
    InterviewPage,
    EditorialPage
  },
  // layout: 'no-gutter',
  asyncData (context) {
    const newMonthUnformatted = (context.params.month % 12) + 1
    const endMonth = newMonthUnformatted < 10 ? '0' + newMonthUnformatted : newMonthUnformatted
    const endYear = context.params.month === '12' ? Number(context.params.year) + 1 : context.params.year
    const startDate = `${context.params.year}-${context.params.month}-01`
    const endDate = `${endYear}-${endMonth}-01`

    return Promise.all([
      client.getEntries({
        'content_type': 'article',
        'fields.slug': context.params.articleSlug,
        'fields.datePublished[gte]': startDate,
        'fields.datePublished[lt]':endDate,
        order: '-fields.datePublished',
        include: 5,
      })
    ]).then(([response]) => {
      let type
      let post
      if (response.total !== 0) {
        type = response.items[0].fields.article.sys.contentType.sys.id
        post = response.items[0]
      } else {
        throw({ statusCode: 404, message: 'Post not found' })
      }
      let article = {
        ...post.fields.article.fields
      }
      delete article['title']


      let formattedPost = {
        ...post.fields,
        ...article
      }
      return {
        type,
        post: formattedPost
      }
    }).catch((e) => {
        context.error(e)
    })
  },
  mounted() {
  },
  methods: {
  },
}
</script>

<style lang="scss" scoped>

</style>
