<template>
  <div
    class="archive-page__wrapper"
  >
    <div
      v-for="(post, i) in posts"
      :key="post.sys.id"
    >
      <nuxt-link
        :to="calcPath(post)"
      >
        <FirstArchivePost
          v-if="i === 0"
          :post="post"
        />
        <!-- v-if="i !== 0" -->
        <ArchivePost
          v-if="i !== 0 && i < allowedItems"
          :post="post"
          :config="feedConfig[(i - 1) % 4]"
          :offset="i === 1"
        />
      </nuxt-link>

    </div>
  </div>
</template>

<script>
import FirstArchivePost from '@/components/Blocks/Archive/FirstArchivePost'
import ArchivePost from '@/components/Blocks/Archive/ArchivePost'

import { createClient } from '~/plugins/contentful.js'
const client = createClient()

export default {
  head () {
    return {
      title: `Inspiration - Your Palette`,
    }
  },
  components: {
    FirstArchivePost,
    ArchivePost,
  },
  asyncData (context) {
    return Promise.all([
      client.getEntries({
        'content_type': 'article',
        order: 'fields.datePublished',
        // select: 'sys.id.fields.title'

      })
    ]).then(([response]) => {

      if (response.total === 0) {
        throw({ statusCode: 404, message: 'Post not found' })
      }
      // response.items.forEach(element => {
      //   response.items.push(element)
      // });
      // response.items.forEach(element => {
      //   response.items.push(element)
      // });
      return {
        posts: response.items,
        allowedItems: 8,
        feedConfig: [
          {
            right: true,
            heightRatio: 1.20926243568,
            infoWrapperStyle: {
              'text-align': 'left',
              'transform': 'translate(-65%, -50%)',
            },
            mobile: {
              imageWidth: 0.51,
              heightRatio: 1.2358974359
            }
          },
          {
            right: false,
            heightRatio: 1,
            infoWrapperStyle: {
              'text-align': 'right',
              'transform': 'translate(57%, -50%)',
              'right': 0
            },
            mobile: {
              imageWidth: 0.54,
              heightRatio: 1,
            }

          },
          {
            right: true,
            heightRatio: 0.730703259,
            infoWrapperStyle: {
              'text-align': 'left',
              'transform': 'translate(-65%, -50%)',
            },
            mobile: {
              imageWidth: 0.74,
              heightRatio: 0.72,
            }
          },
          {
            right: false,
            heightRatio: 1.40823327616,
            infoWrapperStyle: {
              'text-align': 'right',
              'transform': 'translate(57%, -50%)',
              'right': 0
            },
            mobile: {
              imageWidth: 0.51,
              heightRatio: 1.40,

            }
          },
        ]
      }
    }).catch((e) => {
      context.error(e)
    })
  },
  mounted() {
    this.scroll()
    this.$nextTick(()=>{
      this.$store.commit('closeModalMenu')
    })

  },
  methods: {
    calcPath(post) {
      const split = post.fields.datePublished.split('-')
      return `/articles/${split[0]}/${split[1]}/${post.fields.slug}`
    },
    scroll (person) {
      window.onscroll = (e) => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight >= document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          this.allowedItems =  this.allowedItems + 6
        }
      }
    }

  }
}
</script>

<style lang="scss" scoped>
.archive-page {
  &__wrapper {
    margin: 0 0 100px 0;

  }

}
</style>
