<template>
  <div>
    <!-- <the-product-list :products="products"/> -->
  </div>
</template>

<script>
import TheProductList from '@/components/Blocks/TheProductList'
import TheSelector from '@/components/Blocks/TheSelector'
import TheSelectorHeader from '@/components/Blocks/TheSelectorHeader'


export default {
  head (context) {
    function jsUcfirst(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    let id = jsUcfirst(this.params.category)
    return {
      title: `${id} - Products - Your Palette`,
    }
  },
  components: {
    TheSelector,
    TheSelectorHeader,
    TheProductList
  },
  async asyncData({ params, store, env, redirect }) {
    if (!params.id) {

      await store.dispatch('fetchCategories')
      const res = await store.dispatch('fetchProducts', {
        category: params.category,
        categoryType: params.categoryType,
      })
      if (!res) {
        redirect('/products')
      }
    }

    return {
      params: params
    }
  },
  data() {
    return {
      // category: this.$route.params.idProducts
    }
  },
  computed: {
    products() {
      return this.$store.getters.getCategory
    },
  },
  async mounted() {
    // if (!this.$route.params.id) {
    //   const res = await this.$store.dispatch('fetchProducts', {
    //     category: this.$route.params.category,
    //     categoryType: this.$route.params.categoryType,
    //   })
    //   if (!res) {

    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 0 50px;
}

.selector {
  // margin-top: -30px;
}


</style>

