<template>
  <div>
    <h1> {{ year }} </h1>
    <div
      v-for="post in posts"
    >
      {{ post.fields.title }}
    </div>
  </div>
</template>

<script>
import { createClient } from '~/plugins/contentful.js'
import InterviewBlock from '@/components/Blocks/Interview/InterviewBlock'
import VideoBlock from '@/components/Blocks/Interview/VideoBlock'
import LineBlock from '@/components/Blocks/Interview/LineBlock'
import GalleryBlock from '@/components/Blocks/Interview/GalleryBlock'
const client = createClient()

export default {
  components: {
    InterviewBlock,
    VideoBlock,
    GalleryBlock,
    LineBlock
  },
  asyncData (context) {
    const endYear = Number(context.params.year) + 1
    const startDate = `${context.params.year}-01-01`
    const endDate = `${endYear}-01-01`


    return Promise.all([
      client.getEntries({
        'content_type': 'interview',
        'fields.datePublished[gte]': startDate,
        'fields.datePublished[lt]':endDate,
        order: 'fields.datePublished'
      })
    ]).then(([response]) => {


      return {
        month: 'AUGUSTI',
        year: context.params.year,
        posts: response.items
      }
    }).catch(console.error)
  },
  computed: {
    blocks() {
      return blocks
    },
  },

  mounted() {

  },
  methods: {
  },
}
</script>

<style lang="scss" scoped>
</style>
