/**
 * @license
 * MyFonts Webfont Build ID 3787834, 2019-07-19T05:27:25-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FF DIN Web Pro Regular by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/ff-din/pro-regular/
 * 
 * Webfont: FF DIN Web Pro Bold by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/ff-din/pro-bold/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3787834
 * Licensed pageviews: 50,000
 * Webfonts copyright: 2016 published by Monotype GmbH
 * 
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/39cc3a");

  
@font-face {font-family: 'FFDINWebProRegular';src: url('webfonts/39CC3A_0_0.eot');src: url('webfonts/39CC3A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39CC3A_0_0.woff2') format('woff2'),url('webfonts/39CC3A_0_0.woff') format('woff'),url('webfonts/39CC3A_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFDINWebProBold';src: url('webfonts/39CC3A_1_0.eot');src: url('webfonts/39CC3A_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39CC3A_1_0.woff2') format('woff2'),url('webfonts/39CC3A_1_0.woff') format('woff'),url('webfonts/39CC3A_1_0.ttf') format('truetype');}
 