<template>
  <svg
    width="1127px"
    height="1474px"
    viewBox="0 0 1127 1474"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <desc>Background lines.</desc>
    <defs/>
    <g
      id="Design"
      stroke="none"
      stroke-width="1.5"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="First_ideas"
        transform="translate(-207.000000, -1221.000000)"
        stroke="#979797"
      >
        <path
          id="Path-7"
          d="M1097.07867,2131 C1128.32583,2140.61591 1160.10524,2148.68165 1190.82015,2159.84772 C1196.69772,2161.98445 1201.6623,2166.2806 1206.11066,2170.63739 C1256.35135,2219.84395 1320.32809,2253.54413 1295.45568,2334.7511 C1289.52893,2354.10159 1267.83911,2364.73894 1252.22201,2377.79695 C1222.95949,2402.26437 1157.2757,2416.09329 1132.80983,2424.56727 C1111.01961,2432.11451 1089.76407,2441.12205 1067.9479,2448.59574 C1022.50163,2464.16454 976.294309,2477.54384 931.052697,2493.68441 C816.874258,2534.41913 708.476002,2588.35296 593.199709,2626.50128 C559.211158,2637.74909 525.159273,2648.96233 490.505464,2658.01255 C281.595254,2712.57172 431.436817,2671.62805 353.792966,2686.80384 C350.636397,2687.4208 347.488294,2688.20375 344.497612,2689.37711 C342.186303,2690.28392 340.165871,2691.79237 338,2693"
        />
        <path
          id="Path-7"
          d="M1097.07867,2161 C1128.32583,2170.61591 1160.10524,2178.68165 1190.82015,2189.84772 C1196.69772,2191.98445 1201.6623,2196.2806 1206.11066,2200.63739 C1256.35135,2249.84395 1320.32809,2283.54413 1295.45568,2364.7511 C1289.52893,2384.10159 1267.83911,2394.73894 1252.22201,2407.79695 C1222.95949,2432.26437 1157.2757,2446.09329 1132.80983,2454.56727 C1111.01961,2462.11451 1089.76407,2471.12205 1067.9479,2478.59574 C1022.50163,2494.16454 976.294309,2507.54384 931.052697,2523.68441 C816.874258,2564.41913 708.476002,2618.35296 593.199709,2656.50128 C559.211158,2667.74909 525.159273,2678.96233 490.505464,2688.01255 C281.595254,2742.57172 431.436817,2701.62805 353.792966,2716.80384 C350.636397,2717.4208 347.488294,2718.20375 344.497612,2719.37711 C342.186303,2720.28392 340.165871,2721.79237 338,2723"
        />
        <path
          id="Path-7"
          d="M1097.07867,2200 C1128.32583,2209.61591 1160.10524,2217.68165 1190.82015,2228.84772 C1196.69772,2230.98445 1201.6623,2235.2806 1206.11066,2239.63739 C1256.35135,2288.84395 1320.32809,2322.54413 1295.45568,2403.7511 C1289.52893,2423.10159 1267.83911,2433.73894 1252.22201,2446.79695 C1222.95949,2471.26437 1157.2757,2485.09329 1132.80983,2493.56727 C1111.01961,2501.11451 1089.76407,2510.12205 1067.9479,2517.59574 C1022.50163,2533.16454 976.294309,2546.54384 931.052697,2562.68441 C816.874258,2603.41913 708.476002,2657.35296 593.199709,2695.50128 C559.211158,2706.74909 525.159273,2717.96233 490.505464,2727.01255 C281.595254,2781.57172 431.436817,2740.62805 353.792966,2755.80384 C350.636397,2756.4208 347.488294,2757.20375 344.497612,2758.37711 C342.186303,2759.28392 340.165871,2760.79237 338,2762"
        />
        <path
          id="Path-8"
          d="M208,1322.9037 C220.527717,1327.1659 324.616665,1366.66199 344.655153,1358.68059 C360.604192,1352.32804 378.645984,1268.21964 408.289634,1264.3105 C429.870122,1261.46466 486.264896,1279.10958 491.495819,1279.4116 C552.153383,1282.91384 613.031503,1277.90251 673.771259,1279.4116 C706.102904,1280.21488 738.270347,1284.31593 770.548332,1286.3447 C775.049376,1286.6276 779.607449,1286.93898 784.07808,1286.3447 C793.746559,1285.05946 803.557609,1283.86101 812.794999,1280.72883 C835.313752,1273.09325 828.306566,1264.31091 852.6672,1269.53238 C877.423022,1274.83855 937.298179,1306.52249 948.856535,1311.70725 C959.446269,1316.45751 989.722962,1314.95712 992.172886,1315.3061 C1005.4448,1317.19666 1036.00906,1329.28493 1046.67391,1334.28244 C1094.40203,1356.64768 1173.97066,1413.47136 1205.78068,1453.66813 C1238.00833,1494.39263 1268.57801,1536.44782 1298.06743,1579.19893 C1310.98612,1597.92729 1327.42478,1615.82259 1332.87332,1637.91562 C1334.4632,1644.36232 1320.68056,1643.22732 1314.3478,1645.21331 C1259.30855,1662.47391 1204.8001,1681.76857 1148.81116,1695.6385 C1068.47761,1715.53922 954.109885,1706.18008 881.384119,1710.77488 C845.463791,1713.04432 806.491687,1744.23224 777.460141,1758.55973 C772.786922,1760.86604 761.205109,1756.12125 757.553427,1756.05464 C723.048824,1755.42529 687.758702,1749.19047 654.023234,1756.46628 C613.864005,1765.12752 576.888426,1785.13321 539.890233,1802.99859 C518.421759,1813.36511 498.900185,1827.41943 479.217955,1840.87482 C473.690618,1844.65348 467.974726,1848.81907 464.495098,1854.54108 C460.406049,1861.26524 462.231781,1891.85477 462.426257,1894.46372 C462.735001,1898.60561 475.616188,1874.25643 462.185284,1899.60914 C453.559938,1915.89069 445.562335,1932.59863 435.343252,1947.92912 C429.363639,1956.89964 422.82148,1966.1125 413.861398,1972.10381 C393.481744,1985.73103 370.136102,1994.29601 348.569493,2005.95191 C329.94746,2016.01638 310.833677,2025.36878 293.316167,2037.25375 C282.93315,2044.29824 273.587568,2052.9807 265.328044,2062.42813 C258.775642,2069.92291 254.088669,2078.90062 249.282775,2087.62014 C239.933056,2104.58371 230.62983,2121.63449 222.905056,2139.39785 C219.393212,2147.47345 214.802072,2156.0594 215.711133,2164.8192 C216.565806,2173.0549 223.439496,2179.47781 227.795043,2186.51821 C239.140856,2204.85781 267.982901,2220.99862 288.355651,2226.53494 C344.660756,2241.83591 425.040791,2249.79271 482.914832,2235.56737 C601.471497,2206.42635 605.41427,2185.03084 720.055691,2163.92537 C759.273162,2156.70544 849.966446,2159.02557 887.308526,2162.28471 C904.414974,2163.77773 920.960945,2169.40052 938.024509,2171.32302 C992.135936,2177.4196 1020.33139,2167.09746 1059.87452,2199.02013"
          stroke-width="1.5"
        />
        <path
          id="Path-8"
          d="M208,1360.9037 C220.527717,1365.1659 324.616665,1404.66199 344.655153,1396.68059 C360.604192,1390.32804 378.645984,1306.21964 408.289634,1302.3105 C429.870122,1299.46466 486.264896,1317.10958 491.495819,1317.4116 C552.153383,1320.91384 613.031503,1315.90251 673.771259,1317.4116 C706.102904,1318.21488 738.270347,1322.31593 770.548332,1324.3447 C775.049376,1324.6276 779.607449,1324.93898 784.07808,1324.3447 C793.746559,1323.05946 803.557609,1321.86101 812.794999,1318.72883 C835.313752,1311.09325 828.306566,1302.31091 852.6672,1307.53238 C877.423022,1312.83855 937.298179,1344.52249 948.856535,1349.70725 C959.446269,1354.45751 989.722962,1352.95712 992.172886,1353.3061 C1005.4448,1355.19666 1036.00906,1367.28493 1046.67391,1372.28244 C1094.40203,1394.64768 1173.97066,1451.47136 1205.78068,1491.66813 C1238.00833,1532.39263 1268.57801,1574.44782 1298.06743,1617.19893 C1310.98612,1635.92729 1327.42478,1653.82259 1332.87332,1675.91562 C1334.4632,1682.36232 1320.68056,1681.22732 1314.3478,1683.21331 C1259.30855,1700.47391 1204.8001,1719.76857 1148.81116,1733.6385 C1068.47761,1753.53922 954.109885,1744.18008 881.384119,1748.77488 C845.463791,1751.04432 806.491687,1782.23224 777.460141,1796.55973 C772.786922,1798.86604 761.205109,1794.12125 757.553427,1794.05464 C723.048824,1793.42529 687.758702,1787.19047 654.023234,1794.46628 C613.864005,1803.12752 576.888426,1823.13321 539.890233,1840.99859 C518.421759,1851.36511 498.900185,1865.41943 479.217955,1878.87482 C473.690618,1882.65348 467.974726,1886.81907 464.495098,1892.54108 C460.406049,1899.26524 462.231781,1929.85477 462.426257,1932.46372 C462.735001,1936.60561 475.616188,1912.25643 462.185284,1937.60914 C453.559938,1953.89069 445.562335,1970.59863 435.343252,1985.92912 C429.363639,1994.89964 422.82148,2004.1125 413.861398,2010.10381 C393.481744,2023.73103 370.136102,2032.29601 348.569493,2043.95191 C329.94746,2054.01638 310.833677,2063.36878 293.316167,2075.25375 C282.93315,2082.29824 273.587568,2090.9807 265.328044,2100.42813 C258.775642,2107.92291 254.088669,2116.90062 249.282775,2125.62014 C239.933056,2142.58371 230.62983,2159.63449 222.905056,2177.39785 C219.393212,2185.47345 214.802072,2194.0594 215.711133,2202.8192 C216.565806,2211.0549 223.439496,2217.47781 227.795043,2224.51821 C239.140856,2242.85781 267.982901,2258.99862 288.355651,2264.53494 C344.660756,2279.83591 425.040791,2287.79271 482.914832,2273.56737 C601.471497,2244.42635 605.41427,2223.03084 720.055691,2201.92537 C759.273162,2194.70544 849.966446,2197.02557 887.308526,2200.28471 C904.414974,2201.77773 920.960945,2207.40052 938.024509,2209.32302 C992.135936,2215.4196 1020.33139,2205.09746 1059.87452,2237.02013"
          stroke-width="1.5"
        />
        <path
          id="Path-8"
          d="M208,1280.9037 C220.527717,1285.1659 324.616665,1324.66199 344.655153,1316.68059 C360.604192,1310.32804 378.645984,1226.21964 408.289634,1222.3105 C429.870122,1219.46466 486.264896,1237.10958 491.495819,1237.4116 C552.153383,1240.91384 613.031503,1235.90251 673.771259,1237.4116 C706.102904,1238.21488 738.270347,1242.31593 770.548332,1244.3447 C775.049376,1244.6276 779.607449,1244.93898 784.07808,1244.3447 C793.746559,1243.05946 803.557609,1241.86101 812.794999,1238.72883 C835.313752,1231.09325 828.306566,1222.31091 852.6672,1227.53238 C877.423022,1232.83855 937.298179,1264.52249 948.856535,1269.70725 C959.446269,1274.45751 989.722962,1272.95712 992.172886,1273.3061 C1005.4448,1275.19666 1036.00906,1287.28493 1046.67391,1292.28244 C1094.40203,1314.64768 1173.97066,1371.47136 1205.78068,1411.66813 C1238.00833,1452.39263 1268.57801,1494.44782 1298.06743,1537.19893 C1310.98612,1555.92729 1327.42478,1573.82259 1332.87332,1595.91562 C1334.4632,1602.36232 1320.68056,1601.22732 1314.3478,1603.21331 C1259.30855,1620.47391 1204.8001,1639.76857 1148.81116,1653.6385 C1068.47761,1673.53922 954.109885,1664.18008 881.384119,1668.77488 C845.463791,1671.04432 806.491687,1702.23224 777.460141,1716.55973 C772.786922,1718.86604 761.205109,1714.12125 757.553427,1714.05464 C723.048824,1713.42529 687.758702,1707.19047 654.023234,1714.46628 C613.864005,1723.12752 576.888426,1743.13321 539.890233,1760.99859 C518.421759,1771.36511 498.900185,1785.41943 479.217955,1798.87482 C473.690618,1802.65348 467.974726,1806.81907 464.495098,1812.54108 C460.406049,1819.26524 462.231781,1849.85477 462.426257,1852.46372 C462.735001,1856.60561 475.616188,1832.25643 462.185284,1857.60914 C453.559938,1873.89069 445.562335,1890.59863 435.343252,1905.92912 C429.363639,1914.89964 422.82148,1924.1125 413.861398,1930.10381 C393.481744,1943.73103 370.136102,1952.29601 348.569493,1963.95191 C329.94746,1974.01638 310.833677,1983.36878 293.316167,1995.25375 C282.93315,2002.29824 273.587568,2010.9807 265.328044,2020.42813 C258.775642,2027.92291 254.088669,2036.90062 249.282775,2045.62014 C239.933056,2062.58371 230.62983,2079.63449 222.905056,2097.39785 C219.393212,2105.47345 214.802072,2114.0594 215.711133,2122.8192 C216.565806,2131.0549 223.439496,2137.47781 227.795043,2144.51821 C239.140856,2162.85781 267.982901,2178.99862 288.355651,2184.53494 C344.660756,2199.83591 425.040791,2207.79271 482.914832,2193.56737 C601.471497,2164.42635 605.41427,2143.03084 720.055691,2121.92537 C759.273162,2114.70544 849.966446,2117.02557 887.308526,2120.28471 C904.414974,2121.77773 920.960945,2127.40052 938.024509,2129.32302 C992.135936,2135.4196 1020.33139,2125.09746 1059.87452,2157.02013"
          stroke-width="1.5"
        />
      </g>
    </g>
  </svg>
</template>

<script>

export default {
  props: {
  }
}


</script>


<style lang="scss" scoped>

</style>

