<template>
  <div>
    <h1> {{ month }} -  {{ year }} </h1>
    <div
      v-for="post in posts"
    >
      {{ post.fields.title }}
    </div>
  </div>
</template>

<script>
import { createClient } from '~/plugins/contentful.js'
import InterviewBlock from '@/components/Blocks/Interview/InterviewBlock'
import VideoBlock from '@/components/Blocks/Interview/VideoBlock'
import LineBlock from '@/components/Blocks/Interview/LineBlock'
import GalleryBlock from '@/components/Blocks/Interview/GalleryBlock'
const client = createClient()

export default {
  components: {
    InterviewBlock,
    VideoBlock,
    GalleryBlock,
    LineBlock
  },
  asyncData (context) {
    const newMonthUnformatted = (context.params.month % 12) + 1
    const endMonth = newMonthUnformatted < 10 ? '0' + newMonthUnformatted : newMonthUnformatted
    const endYear = context.params.month === '12' ? Number(context.params.year) + 1 : context.params.year
    const startDate = `${context.params.year}-${context.params.month}-01`
    const endDate = `${endYear}-${endMonth}-01`

    return Promise.all([
      client.getEntries({
        'content_type': 'interview',
        'fields.datePublished[gte]': startDate,
        'fields.datePublished[lt]':endDate,
        order: 'fields.datePublished'
      })
    ]).then(([response]) => {


      return {
        month: 'AUGUSTI',
        year: '2020',
        posts: response.items
      }
    }).catch(console.error)
  },
  computed: {
    blocks() {
      return blocks
    },
  },

  mounted() {

  },
  methods: {
  },
}
</script>

<style lang="scss" scoped>
</style>
