<template>
  <div
    :class="{'galmod__wrapper--loaded': loaded}"
    class="galmod__wrapper"
  >
    <div
      class="galmod__wrapper-2"
    >
      <div
        ref="col-1"
        class="galmod__info-col"
      >
        <div
          class="galmod__info-title"
        >
          {{ post.title }}
        </div>
        <div
          class="galmod__info-persons"
        >
          <div
            class="galmod__info-other-people"
          >
            <div
              v-for="person in post.otherPeople"
              :style="personWidthStyle"
              :ref="'person'"
              :key="person.fields.role"
              class="galmod__info-person"
            >
              <div>
                <b>{{ person.fields.role }}</b>
              </div>
              <div>
                {{ person.fields.name }}
              </div>
            </div>
          </div>
          <div
            :style="modelWidthStyle"
            class="galmod__info-person galmod__info-person--model"
          >
            <div>
              <b>Model</b>
            </div>
            <div>
              {{ post.model }}
            </div>

          </div>
        </div>
      </div>
      <div class="galmod__image-col">
        <div
          v-for="image in post.images"
          :key="image.fields.file.url"
        >
          <img :src="`${image.fields.file.url}?w=1200`" alt="">
        </div>
      </div>
      <div
        :style="{
          width: columnOneWidth*0.75+'px'
        }"
      >
        <img
          src="/images/x-white.svg"
          class="galmod__x"
          @click="$emit('close')"
        >
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      columnOneWidth: 0,
      largestPerson: 0,
      loaded: false
    }
  },
  computed: {
    modelWidthStyle() {
      if (this.largestPerson !== 0) {
        return {
          width: (this.largestPerson*2) + 40 +'px'
        }
      }

    },
    personWidthStyle() {
      if (this.largestPerson !== 0) {
        return {
          width: this.largestPerson+'px'
        }
      }
    }
  },
  mounted() {
    document.body.style.overflow = 'hidden'
    this.columnOneWidth = this.$refs['col-1'].clientWidth

    this.$nextTick(() => {
      let largestPerson = 0
      this.$refs['person'].forEach(person => {

        largestPerson = person.clientWidth > largestPerson ? person.clientWidth : largestPerson
      })
      this.largestPerson = largestPerson
      this.$nextTick(()=> {
        this.loaded = true
      })
    })
  },
  destroyed() {
    document.body.style.overflow = 'auto'
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';


.galmod {
  &__wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    z-index: 3000;
    // padding: 0 0 140px 0;
    color: #FFF;
    overflow-y: auto;
    opacity: 0;

    &--loaded {
      opacity: 1;
    }
  }

  &__wrapper-2 {
    margin: 120px 0 90px 0;
    display: flex;
    // background: #eee;
    // max-height: 1000000vh;
    position: absolute;

  }

  &__info-col {
    padding: 275px 0 0 0;
    position: relative;
    max-width: 450px;
    line-height: 0.9;
  }
  &__info-title {
    font-family: $regular-font;
    font-size: 81px;
    text-align: right;
    transform: translateX(15px);
    // color: red;
  }
  &__image-col {
    padding: 75px 0 0 0;
    // margin: 0 0 90px 0;
    width: 600px;
    z-index: 4000;
    & img {
      max-width: 100%;
      display: block;
    }
  }

  &__info-persons {
    position: absolute;
    right: 0;

    padding: 20px 0 0 0;
  }

  &__x {
    float: right;
    margin: 0 80px 0 0;
    cursor: pointer;
  }

  &__info-other-people {

    display: flex;
    // grid-auto-columns: repeat(auto-fit, 100px);
    grid-auto-flow: column;
    grid-auto-rows: auto;
    // height: 200px;
    justify-content: flex-end;
    // position: absolute;
    right: 0;
    flex-wrap: wrap;

    & :last-child {


    }

  }

  &__info-person {
    & b {
      font-family: $title-font;
      font-size: 17px;
    }
    // width: 100px;
    font-family: $garamond;
    font-size: 18px;
    margin: 20px 40px 0 0;

    &--model {
      // background-color: #ccc;
      padding: 60px 0 0 0;
      position: absolute;
      right: 0;
    }

  }
}
</style>
