<template>
  <div
    class="editorial-header__wrapper"
    :class="{
      'editorial-header__wrapper--gallery': gallery
    }"
  >

    <div
      class="editorial__image-wrapper"
    >
      <!-- <div
        style="{
            width: 100%;
            background: red;
          }"
        class="editorial-header__image"
      > -->
      <img
        v-for="(image, i) in post.images"
        v-if="i === 0"
        :class="{
          'editorial-header__image': i == 0,
          'editorial-header__image--first': gallery,
        }"
        :src="image.fields.file.url + '?h=900'"
        :key="image.fields.file.url"
      >
      <!-- </div> -->
    </div>

    <img
      v-for="(image, i) in post.images"
      v-if="i !== 0 && gallery"
      class="editorial-header__image--not-first"
      :src="image.fields.file.url + '?h=900'"
      :key="image.fields.file.url"
    >
    <div
      v-if="!gallery"
    >
      <div
        class="editorial-header__title editorial-header__gutter"
      >
        {{ post.title }}
      </div>
      <div
        class="editorial-header__author editorial-header__gutter"
      >
        by {{ post.author }}
      </div>

      <div
        class="editorial-header__link editorial-header__gutter"
      >
        <social-sharing
          :url="'https://vuejs.org/'"
          :title="post.title"
          :description="post.description"
          :quote="post.openingQuote"
          inline-template
          style="cursor: pointer"
          class="editorial-page__header-image-share"
        >
          <network network="facebook">
            <div>Share<img style="display: inline-block; height: 7px; padding: 0 0 2px 2px;" src="/SVG/small-arrow.svg"> </div>
          </network>
        </social-sharing>
      </div>
      <div
        class="editorial-header__description editorial-header__gutter"
      >
        <vue-markdown>{{ post.description }}</vue-markdown>
      </div>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  props: ['post', 'gallery'],
  mounted() {

  }
}
</script>

<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.editorial-header__image {
  height: 90vh;
  margin: -62px 0 0 0;
  display: block;

  &--not-first {
    width: 100%;
    margin: 0 0 13px 0;
  }
  &--first {
    margin: -62px 0 13px 0;
  }
  @include sm {
    display: none;
  }
}
.editorial-header__image-wrapper {
  height: 90vh;
  display: flex;
  width: 100vw;

  // margin: -100px 0 0 0;
  @include sm {
    display: none;
  }
}

.editorial-header__wrapper {
  margin: 0 0 6px 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F1F1;

  &--gallery {
    background-color: #FFF;
  }
  @include sm {
    background-color: initial;
    margin: 0 30px 100px 30px;
    align-items: center;
    padding: 100px 0 0 0;
  }
}

.editorial-header__gutter {
  padding: 0 30px 0 30px;
  @include sm {
    margin: 0 30px 0 30px;
  }
}

.editorial-header__title {
  font-family: $regular-font;
  font-size: 28px;
  align-self: flex-start;

  margin: 60px 0 9px 0;
  @include sm {
    align-self: center;
    margin: 0 0 10px 0;
    max-width: 550px;
    font-size: 80px;
  }
}

.editorial-header__author {
  font-size: 18px;
  font-family: $garamond;
  align-self: flex-start;
  margin: 0 0 10px 0;

  @include sm {
    align-self: center;

    font-size: 25px;
    padding: 0 0 0 260px;
    margin: 0 0 35px 0;
  }
}

.editorial-header__link {
  display: block;
  align-self: flex-start;
  margin: 15px 0 50px 0;
  @include sm {
    display: none;
  }
}

.editorial-header__description {
  font-size: 14px;
  font-family: $regular-font;
  max-width: 720px;
  letter-spacing: 0.02rem;
  line-height: 1.75rem;
  padding: 60px 30px 60px 30px;
  // padding: 0 0 0 260px;
  background-color: #fff;
  @include sm {
    padding: 0 30px 0 30px;
    line-height: 2rem;
    font-size: 18px;
    background-color: initial;
  }
  & p {
    margin: 0;
  }

  & a {
    text-decoration: underline;
  }
}
</style>
