<template>
  <div
    class="mu__wrapper"
  >
    <div class="mu__r1">
      <div
        class="mu__r1c1"
      >
        <div>M</div>
        <div>A</div>
        <div>K</div>
        <div>E</div>
      </div>
      <div
        class="mu__r1c2"
      >
        <div
          v-for="(item, i) in post.makeUpItems"
          :key="item"
          class="mu__list-item"
        >
          {{ i + 1 }}. {{ item }}
        </div>
      </div>
    </div>
    <div class="mu__r2">
      <div
        class="mu__r2c1"
      />
      <div
        class="mu__r2c2"
      >
        U
      </div>
      <div
        class="mu__r2c3"
      >
        P
      </div>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  props: ['post']
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';
li {
  list-style: none;
}
.mu {

  &__wrapper {
    width: 425px;
    font-family: $garamond;
    font-size: 24px;
      // background-color: #ccc;
  }

  &__r1 {
    display: flex;
    height: 278px;

    &c1 {
      flex-basis: 57px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      height: 103.5%;
    }

    &c2 {

      // justify-content: center;
      padding: 48px 0 0 48px;
      // align-items: center;
      display: flex;
      flex-direction: column;
      font-family: $regular-font;
      font-size: 18px;
      // height: 100%;
      width: 100%;
      border: 1px solid #000;
    }
  }
  &__r2 {
    height: 44px;
    display: flex;
    align-items: flex-end;
    &c1 {
      border-bottom: 0.1rem solid #000;
      margin: 0 15px 15px 4px;
      width: 50%;
    }

    &c2 {
      width: 25%;
      text-align: center;
    }

    &c3 {
      width: 25%;
      text-align: center;
    }
  }

  &__list-item {
    margin: 0 0 4px 0;
  }
}

</style>
