<template>
  <div
    class="team__wrapper"
  >
    <div
      class="team__title"
    >
      Team
    </div>
    <div
      class="team__line"
    >

    </div>
    <div
      class="team__person-row"
    >
      <div
        v-for="person in post.otherPeople"
        :key="person.fields.role"
        class="team__person"
      >
        {{ person.fields.role }} -
        {{ person.fields.name }}
      </div>
      <div
        class="team__person"
      >
        Model -
        {{ post.model }}
      </div>

    </div>

  </div>
</template>

<script>

export default {
  components: {

  },
  props: ['post'],
  mounted() {

  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.team {
  &__wrapper {

    display: flex;
    flex-direction: column;
    margin-top: 76px;
    @include sm {
      margin-top: 0;
    }
  }

  &__line {
    font-family: $regular-font;
    font-size: 13px;
    padding: 0 0 8px 0 ;
    border-bottom: 1px solid #000;
    margin: 0;
    // order: 1;
    @include sm {
      margin: 0 10px;
      order: 2;
    }

  }

  &__title {
    font-family: $title-font;
    font-size: 14px;
    padding: 0 0 0 0 ;
    margin: 0 25px 9px 25px;
    // order: 2;
    @include sm {
      font-family: $regular-font;
      font-size: 13px;
      order: 1;
      margin: 0 10px;
    }

  }

  &__person-row {
    margin: 29px 25px 0 25px;
    display: flex;
    flex-direction: column;
    // display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(1fr);
    grid-template-rows: auto;
    grid-auto-flow: column;
    justify-content: space-around;
    justify-content: space-between;
    font-size: 15px;
    font-family: $regular-font;
    order: 3;
    @include sm {
      flex-direction: row;
      margin: 10px 0 0 0;
      font-size: 17px;
    }
  }

  &__person {

    white-space: nowrap;
    margin-bottom: 17px;
    // display: inline-block;
  }
}

</style>
