<template>
  <div>
    <div
      v-for="(line, i) in decoded"
      :key="line"
    >
      <div
        v-if="line[0] === '#' "
      >
        <h1
          @click="addShowList(i)"
        >
          {{ removeHash(line) }}
          <img
            v-if="isInShowList(i)"
            src="/images/minus.png"
            class="plusminus-image"
          >
          <img
            v-if="!isInShowList(i)"
            src="/images/plus.png"
            class="plusminus-image"
          >
        </h1>
        <vue-markdown
          v-if="isInShowList(i)"
          :breaks="true"
        >{{ decoded[i+1] }}</vue-markdown>
      </div>

      <div
        v-if="i !== 0 && decoded[i-1][0] !== '#' && line[0] !== '#' || i === 0 && line[0] !== '#'"
      >
        <vue-markdown
          :breaks="true"
        >{{ line }}</vue-markdown>
      </div>
    </div>
  </div>
</template>

<script>
import markdownIt from 'markdown-it'
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  props: {
    text: {
      default() {
        return ''
      },
      type: String
    }
  },
  data() {
    return {
      showList: []
    }
  },
  computed: {
    decoded() {

      // const splitHash = this.text.split('#')
      // console.log('arr: ', arr)

      const split = this.text.split('\n')
      let arr = []
      let hash = false
      split.forEach((x, i) => {
        if (x[0] === '#') {
          hash = true
          let sline = this.text.split('\n')
          sline.splice(0, i)
          sline.shift()
          sline = sline.join('\n')
          sline = sline.split('#')
          console.log('sline: ', sline)
          let p = sline[0]
          arr.push(x)
          arr.push(p)
        }

        if (!hash) {
          arr.push(x)
        }
      })
          console.log('arr: ', arr)


      return arr
    }
  },
  methods: {
    removeHash(line) {
      let split = line.split('')
      split.shift()
      let join = split.join('')
      return join.trim()
    },
    addShowList(i) {
      if (this.showList.some((x) => x === i)) {
        const pos = this.showList.indexOf(i)
        this.showList.splice(pos, 1)
      } else {
        this.showList.push(i)
      }
    },
    isInShowList(i) {
      return this.showList.some((x) => x === i)
    }
  }
}
</script>

<style lang="scss">

.plusminus-image {
  width: 10px;
  margin: 0 0 0 5px;
  cursor: pointer;
  // position: absolute;
  // left: -16px;
  // top: 9px;
}


</style>
