<template>
  <div
    ref="archiveWrapper"
    :style="wrapperStyle"
    class="archive__wrapper"
  >
    <div
      :style="[coverImageStyle1, coverImageStyle2]"
      :ref="'archiveImage'"
      class="archive__image"
    >
      <div
        :style="infoWrapperStyle"
        class="archive__info-wrapper"
      >
        <div>
          <div
            class="archive__info-row-1"
          >
            {{ post.fields.datePublished | moment("D MMMM, YYYY") }}
          </div>
        </div>
        <div>
          <div
            class="archive__info-row-2"
          >
            {{ post.fields.title }}
          </div>
        </div>
        <div>
          <div
            class="archive__info-row-3"
          ><span>

            <i>#{{ post.fields.article.sys.contentType.sys.id }}</i>
            <div
              class="archive__info-line archive__info-line--row-2"
            />
          </span>
            <i>by {{ post.fields.author }}</i>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>



export default {
  props: ['post', 'type', 'config', 'offset'],
  data() {
    return {
      coverWidth: 0,
      screenWidth: 0
    }
  },
  computed: {
    coverImageStyle1() {
      let width = '40%'
      if (this.$mq === 'sm') {
        this.coverWidth = this.config.mobile.imageWidth * this.screenWidth
        width = `${this.config.mobile.imageWidth * this.screenWidth}px`
      }
      return {
        width: width
      }
    },
    coverImageStyle2() {

      if (this.coverWidth !== 0 && this.$mq === 'sm') {
        return {
          'background-image': `url('${this.post.fields.verticalArchivePhoto.fields.file.url}?w=${Math.floor(this.coverWidth*2)}')`,
          'height': this.config.mobile.imageWidth * this.screenWidth * this.config.heightRatio + 'px',
        }
      } else if (this.coverWidth !== 0) {

        return {
          'background-image': `url('${this.post.fields.verticalArchivePhoto.fields.file.url}?w=${Math.floor(this.coverWidth*2)}')`,
          'height': this.coverWidth * this.config.heightRatio + 'px',
        }

      }
    },
    wrapperStyle() {
      let align = this.config.right ? 'right' : 'left'
      let offset = this.offset ? '-67px' : 0
      if (this.$mq === 'sm') {
        offset = `${87 + 72}px`
      }
      return {
        'text-align': align,
        margin: `${offset} auto 0 auto`
      }
    },
    infoWrapperStyle() {
      if (this.$mq === 'sm') {
        return {
          top: '-87px',
          // right: '28px'
        }
      }

      return {
        ...this.config.infoWrapperStyle
      }
    }
  },
  mounted() {
    this.screenWidth = this.$refs.archiveWrapper.clientWidth
    this.coverWidth = this.$refs.archiveImage.clientWidth
    window.addEventListener('resize',this.forceCalcHeight)
  },
  destroyed() {
    window.removeEventListener('resize',this.forceCalcHeight)
  },
  methods: {
    forceCalcHeight() {
      this.screenWidth = this.$refs.archiveWrapper ? this.$refs.archiveWrapper.clientWidth : 0
      this.coverWidth = this.$refs.archiveImage ? this.$refs.archiveImage.clientWidth : 0
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.archive {
  &__wrapper {
    max-width: 1440px;

    padding: 0 0 0 0;
    // background: #ccc;
  }

  &__info-wrapper {
    padding: 0 28px;
    // display: none;
    position: relative;

    @include sm {
      top: 50%;
      position: absolute;
      text-align: left;
      transform: translate(-65%, -50%);

    }
  }

  &__info-line {
    display: inline-block;
    width: 35px;
    height: 1px;
    background-color: #000;
    margin: 0 12px 4px 12px;
    @include sm {
      width: 135px;
    }

    &--row-2 {
      width: 90px;
    }
  }

  &__info-row-1 {
    font-family: $garamond;
    display: inline-block;
    padding: 0 0 4px 0;
    margin: 0 0 0 0;
    z-index: 1200;
    position: relative;
    font-size: 12px;
    @include sm {
      background-color: #fff;
      margin: 0 -10px 0 0;
      padding: 10px 17px 0 46px;
      font-size: 17px;
    }
  }
  &__info-row-2 {
    font-family: $regular-font;
    font-size: 18px;
    margin: -10px 0 0 0;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
    white-space: nowrap;
    position: relative;
    @include sm {
      background-color: #fff;
      font-size: 73px;
      margin: -12px -28px 0 0;
      padding: 0 30px 7px 40px;
    }

  }
  &__info-row-3 {
    font-family: $garamond;
    font-size: 14px;
    padding: 2px 0 18px 0;
    margin: -10px 0 0 0;
    display: inline-block;
    margin: 0 0 0 0;
    @include sm {
      background-color: #fff;
      margin: 0 0 0 30px;
      padding: 2px 7px 3px 15px;
      font-size: 21px;
    }
    & span {
      display: none;
      @include sm {
        display: inline;
      }
    }

  }

  &__image {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
  }
}
</style>
