<template>
  <div
    class="archive__wrapper"
  >
    <div
      class="archive__info-wrapper"
    >
      <div>
        <div
          class="archive__info-row-1"
        >
          <i>NEW</i>
          <div
            class="archive__info-line"
          />

          {{ post.fields.datePublished | moment("D MMMM, YYYY") }}
        </div>
      </div>
      <div>
        <div
          class="archive__info-row-2"
        >
          {{ post.fields.title }}
        </div>
      </div>
      <div>
        <div
          class="archive__info-row-3"
        >
          <span>
            <i>#{{ post.fields.article.sys.contentType.sys.id }}</i>
            <div
              class="archive__info-line archive__info-line--row-2"
            />
          </span>
          <i>by {{ post.fields.author }}</i>

        </div>
      </div>
    </div>
    <div
      :style="coverImageStyle"
      class="archive__image"
      :ref="'archiveImage'"
    />


  </div>
</template>

<script>



export default {
  components: {

  },
  props: ['post', 'type'],
  data() {
    return {
      coverWidth: 0
    }
  },
  computed: {
    coverImageStyle() {
      if (this.coverWidth !== 0) {
        return {
          'background-image': `url('${this.post.fields.horizontalArchivePhoto.fields.file.url}?w=${Math.floor(this.coverWidth*2)}')`,
          'height': this.coverWidth * 0.715588723 + 'px'
        }
      }
    }
  },
  mounted() {
    this.coverWidth = this.$refs.archiveImage.clientWidth
    window.addEventListener('resize',this.forceCalcHeight)
  },
  destroyed() {
    window.removeEventListener('resize',this.forceCalcHeight)
  },
  methods: {
    forceCalcHeight() {
      this.coverWidth = this.$refs.archiveImage.clientWidth
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.archive {
  &__wrapper {
    max-width: 1206px;
    padding: 0 0 0 0;
    margin: 82px auto 0 auto;

    @include sm {
      margin: 0 auto;
    }
  }

  &__info-wrapper {
    padding: 0 28px;
    @include sm {
      padding: 0 0 0 193px;
      position: relative;
      transform: translateY(50%)
    }
  }

  &__info-line {
    display: inline-block;
    width: 35px;
    height: 1px;
    background-color: #000;
    margin: 0 12px 4px 12px;

    @include sm {
      width: 135px;

    }
    &--row-2 {
      width: 90px;
    }
  }

  &__info-row-1 {
    font-family: $garamond;
    z-index: 1200;
    position: relative;
    padding: 0 0 4px 0;
    font-size: 12px;
    background-color: #fff;

    @include sm {
      font-size: 17px;
      display: inline-block;
      padding: 10px 17px 0 25px;
    }
  }
  &__info-row-2 {
    font-family: $regular-font;
    font-size: 18px;
    background-color: #fff;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 17px 5px 0;
    position: relative;
    @include sm {
      font-size: 73px;
      padding: 0 17px 7px 23px;
      margin: -10px 0 0 0;
    }
  }
  &__info-row-3 {
    font-family: $garamond;
    font-size: 14px;
    padding: 2px 7px 18px 0;
    background-color: #fff;
    margin: -10px 0 0 0;
    display: inline-block;
    @include sm {
      padding: 2px 7px 3px 23px;
      font-size: 21px;
    }

    & span {
      display: none;
      @include sm {
        display: inline;
      }
    }
  }

  &__image {
    width: 70%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 15px;
    @include sm {
      margin: 0 0;
      width: 100%;
    }

  }
}
</style>
