<template>
  <div
    ref="gallery-block"
    class="gallery-block__wrapper"
  >
    <div
      :style="galleryStyle"
      class="gallery-block__gallery"
    >
      <div
        :style="imageRowStyle"
        class="gallery-block__image-row"
      >
        <div
          @click="$emit('click')"
          v-if="height !== 0"
          v-for="(image, i) in fields.images"
          :key="image.sys.id"
          :style="{
            'background-image': `url('${image.fields.file.url}?h=${Math.floor(height*1.5)}')`,
            'left': (i * galleryWidth) + 'px'
          }"
          class="gallery-block__image"
        />
      </div>
    </div>
    <div class="gallery-block__nav-row">
      <img
        src="/SVG/arrow-left.svg"
        class="gallery-block__arrow-left"
        @click="clickPrev()"
      >
      <img
        src="/SVG/arrow-right.svg"
        class="gallery-block__arrow-right"
        @click="clickNext()"
      >
    </div>
  </div>

</template>
<script>

export default {
  components: {
  },
  props: {
    fields: {
      type: Object,
      default() {
        return {
          images: [],
          // videoUrl: '',
        }
      }
    },
    bgColor: {
      type: String,
      default() {
        return '#ccc'
      }
    },
    heightRatio: {
      type: Number,
      default() {
        return 0.56423611111
      }
    }

  },
  data() {
    return {
      galleryStyle: {},
      selectedImage: 1,
      galleryWidth: 0,
      offset: 0,
    }
  },
  computed: {
    imageRowStyle() {
      return {
        'right': `${this.offset}px`,
        'background': this.bgColor
      }
    },
    nrOfImages() {
      return this.fields.images.length
    },
    height() {
      return this.galleryWidth * this.heightRatio
    }
  },
  mounted() {
    this.sizeCalc()
    window.addEventListener('resize',this.sizeCalc)
  },
  destroyed() {
    window.removeEventListener('resize',this.sizeCalc)
  },
  methods: {
    sizeCalc() {
      this.galleryWidth = this.$refs['gallery-block'].clientWidth
      this.galleryStyle = {
        height: `${this.galleryWidth * this.heightRatio}px`
      }
      this.offset = (this.selectedImage - 1) * this.galleryWidth
    },
    scrollPos() {
      return {
        'left': `${this.offset}px`
      }
    },
    clickPrev() {
      this.selectedImage = this.selectedImage !== 1 ? this.selectedImage - 1 : this.nrOfImages
      this.offset = (this.selectedImage - 1) * this.galleryWidth

    },
    clickNext() {
      this.selectedImage = (this.selectedImage % this.nrOfImages) + 1
      this.offset = (this.selectedImage - 1)  * this.galleryWidth
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.gallery-block {
  &__wrapper {
    margin: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;

    @include sm {
      margin: 0 40px 70px 40px;

    }
  }

  &__gallery {
    // background-color: #ccc;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 0 14px 0;
    position: relative;
    @include sm {
      margin: 0 0 32px 0;
    }
  }

  &__image-row {
    position: relative;
    height: 100%;
    white-space: nowrap;
    transition: right 0.3s ease-in-out;
  }

  &__image {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &__nav-row {
    align-self: flex-end;
  }

  &__arrow-left {
    margin: 0 12px 0 0;
  }
}
</style>
