<template>
  <div
    class="article__header-wrapper"
  >
    <div
      class="article__header-content-wrapper"
    >
      <div
        class="article__header-text-column"
      >

        <h1
          class="article__header-text-title article__akkurat"
        > {{ post.title }}</h1>
        <h1
          class="article__header-text-name"
        >
          -{{ post.interviewee }}
        </h1>
        <div
          class="article__header-image-share article__header-image-share--mobile"
        >
          <social-sharing
            :url="'https://vuejs.org/'"
            :title="post.title"
            :description="post.description"
            :quote="post.openingQuote"
            inline-template
          >
            <network network="facebook">
              <div> Share<img style="display: inline-block; height: 7px; padding: 0 0 2px 2px;" src="/SVG/small-arrow.svg"> </div>
            </network>
          </social-sharing>
        </div>
        <img
          src="/SVG/quote.svg"
          class="article__header-text-quote-sign"
        >
        <div class="article__header-text-quote">
          <span
            class="article__header-text-quote-text"
          >
            {{ post.openingQuote }}
          </span>
          <span class="article__header-text-quote-white-box"/>


        </div>
      </div>
      <div
        class="article__header-image-column"
      >
        <div class="article__header-image-white-bg"/>

        <div class="article__header-image-column-inner">

          <social-sharing
            :url="'https://vuejs.org/'"
            :title="post.title"
            :description="post.description"
            :quote="post.openingQuote"
            inline-template
            class="article__header-image-share"
          >
            <network network="facebook">
              <div
              >Share<img style="display: inline-block; height: 7px; padding: 0 0 2px 2px;" src="/SVG/small-arrow.svg"> </div>
            </network>
          </social-sharing>
          <div
            :style="{'background-image': `url('${post.coverPhoto.fields.file.url}?w=800')`}"
            class="article__header-image"
          />
        </div>
      </div>
    </div>
  </div>

</template>
<script>
export default {
  props: ['post'],
}
</script>
<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.article {

  &__header-wrapper {
    background-color: #F7F1F1;
    margin-top: 110px;
    margin-bottom: 25px;
    overflow: hidden;

    @include sm {
      margin-top: 65px;
      margin-bottom: 15px;
    }
  }

  &__header-content-wrapper {
    margin: 0 0 0 0;
    padding: 80px 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // position: relative;
    @include sm {
      margin: 0 100px 0 0;
      padding: 92px 45px 10px 45px;
      flex-direction: row;
    }
  }

  &__header-text-column {
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px 80px 24px;
    margin: 0;
    order: 2;
    background-color: #fff;

    @include sm {
      box-sizing: initial;
      width: 608px;
      margin: 0 60px 0 0;
      background-color: initial;
      order: 1;
    }
  }

  &__header-text-title {
    font-family: $medium-font;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 4px;
    margin-top: 100px;

    @include sm {
      font-size: 60px;
      margin-top: 140px;

    }
  }

  &__header-text-name {
    margin: 0 0 8px 0;
    font-family: $medium-font;
    font-weight: 500;
    font-size: 20px;
    @include sm {
      margin: 0 0 76px 10px;
      font-size: 36px;
    }
  }

  &__header-text-quote {
    position: relative;
    font-family: $medium-font;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.07rem;
    line-height: 2rem;
    width: 100%;
    margin-top: 13px;

    @include sm {
      font-size: 29px;
      width: 405px;
      margin-top: 60px;
    }

    &-sign {
    width: 18px;
      @include sm {
        width: auto;
      }
    }

    &-text {
      position: relative;
      z-index: 55;
      // color: red;
    }

    &-white-box {
      display: block;
      position: absolute;
      background-color: #fff;
      top: 50%;
      right: -2000px;
      height: 200px;
      width: 500vw;
      z-index: 1;
    }
  }

  &__header-image-column {
    // margin: 38px 0 0 0;
    padding: 0 40px 0 40px;

    display: flex;
    flex-direction: column;
    align-self: none;
    align-items: center;
    z-index: 55;
    order: 1;
    position: relative;

    // background-color: #fff;
    @include sm {
      padding: 0;
      background-color: initial;
      align-self: flex-end;
      align-items: flex-end;
      order: 2;
    }
  }

  &__header-image-column-inner {
    width: 100%;
    height: 100%;
    z-index: 1000;
    @include sm {

    }
  }
  &__header-image-white-bg {
    width: 100%;
    height: 89px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    @include sm {
      display: none;
    }
  }

  &__header-image-share {
    display: none;
    font-family: $regular-font;
    font-size: 12px;
    margin-bottom: 10px;
    @include sm {
      display: flex;
      justify-content: flex-end;
    }
    & img {
      display: block;
      margin: 1px 0 0 1px;
    }

    &--mobile {
      display: flex;
      justify-content: flex-start;
      font-family: $regular-font;
      font-size: 12px;
      margin-bottom: 56px;

      @include sm {
        display: none;
        // background-color: red;
      }
    }
  }


  &__header-image {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      min-width: 100%;
      height: 353px;
    @include sm {
      width: 410px;
      height: 500px;
      // order: 1;
    }

  }
}
</style>
