<template>
  <div
    class="interview__wrapper"
  >
    <div
      class="interview__question"
    >
      {{ fields.title }}
    </div>
    <div
      :class="{
        'interview__answer--two-panes': fields.layout === 'Two Panes',
        'interview__answer--thin-pane': fields.layout === 'Thin Pane'
      }"
      class="interview__answer"
    >
      <vue-markdown
      >{{ fields.text }}</vue-markdown>
    </div>
  </div>
</template>
<script>
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  props: {
    fields: {
      type: Object,
      default() {
        return {
          title: '',
          text: '',
          layout: ''
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.interview {
  &__wrapper {
    margin: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    @include sm {
      flex-direction: row;
      margin: 0 40px 70px 40px;
    }
  }

  &__question {
    display: inline-block;
    width: 100%;
    padding: 0 0 20px 0;
    font-family: $title-font;
    font-size: 14px;

    @include sm {
      flex: 0 0 10em;
      padding: 0 85px 0 18px;
      font-size: 16px;
      width: 306px;
    }
  }

  &__answer {
    justify-self: flex-end;
    font-family: $regular-font;
    width: 100%;
    font-size: 14px;
    line-height: initial;

    @include sm {
      line-height: initial;
      font-size: 18px;
    }
    &--two-panes {

      @include sm {
        column-count: 2;
        column-gap:70px;
        letter-spacing: 0.02rem;
        line-height: 1.7rem;
      }

    }
    &--thin-pane {
      width: 100%;
      @include sm {
        width: 396px;
      }
    }
    & p {

      margin: 0;
    }
  }
}

</style>
