<template>
  <div>
    <div
      class="line-block__line"
    />
  </div>
</template>
<script>
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
}
</script>

<style lang="scss">
@import '@/assets/css/media-queries.scss';

.line-block__line {
  height: 2px;
  width: 100%;
  transform-origin: 0% 0%;

  transform: scaleX(2);
  margin: 0 -1200px 25px 25px;
  background-color: #000;

  @include sm {
    margin: 0 -1200px 70px 40px;
  }
}
</style>
