<template>
  <div>
    <div
      class="video-block__wrapper"
    >
      <div
        class="video-block__question"
      >
        {{ fields.title }}
      </div>
      <div
        ref="video-panel"
        class="video-block__video"
      >
        <no-ssr>
          <youtube
            v-if="videoWidth"
            :width="videoWidth"
            :height="videoHeight"
            :video-id="fields.videoUrl"
          />
        </no-ssr>
      </div>
    </div>
  </div>

</template>
<script>

export default {
  components: {
  },
  props: {
    fields: {
      type: Object,
      default() {
        return {
          title: '',
          videoUrl: '',
        }
      }
    }
  },
  data() {
    return {
      videoWidthRatio: 0.86,
      videoWidth: null,
      videoHeight: null
    }
  },
  mounted() {
    this.calcVideo()

    window.addEventListener('resize',this.calcVideo)
  },
  destroyed() {
    window.removeEventListener('resize',this.calcVideo)
  },
  methods: {
    calcVideo() {
      let minWidth
      let widthCalc
      if (this.$mq === 'sm') {
        widthCalc = this.$refs['video-panel'].clientWidth
        minWidth = 0
        this.videoWidth = widthCalc > minWidth ? widthCalc : minWidth
        this.videoHeight = this.videoWidth * 0.5625
      } else {
        widthCalc = this.$refs['video-panel'].clientWidth * this.videoWidthRatio
        minWidth = 400
        this.videoWidth = widthCalc > minWidth ? widthCalc : minWidth
        this.videoHeight = this.videoWidth * 0.5625
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.video-block {
  &__wrapper {
    margin: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    @include sm {
      flex-direction: row;
      margin: 0 40px 70px 40px;

    }
  }

  &__question {
    display: inline-block;
    width: 100%;
    padding: 0 0 20px 0;
    font-family: $title-font;
    font-size: 14px;

    @include sm {
      flex: 0 0 10em;
      width: 306px;
      padding: 0 85px 0 18px;
      font-size: 16px;
    }
  }

  &__video {
    font-family: $regular-font;
    width: 100%;
    font-size: 18px;

    @include sm {
      justify-self: flex-end;
    }

    & p {
      margin: 0;
    }
  }
}

</style>
