<template>
  <div
    class="part-search-block__wrapper"
  >

    <div
      class="part-search-block"
    >
      <div
        :class="{'part-search-block__title--active': selected}"
        class="part-search-block__title"
      >
        <span
          class="part-search-block__title-text"
        >
          {{ type }}
          <span
            :class="{'part-search-block__amount--active': selected}"
            class="part-search-block__amount"
          >
            {{ itemsAmount }}
          </span>
        </span>
      </div>


      <div
        :class="{ 'input-auto--active': selected }"
        class="input-auto-container input-auto"
        @keydown.down="arrowEvents(1)"
        @keydown.up="arrowEvents(-1)"
      >
        <span class="prefix"> {{ prefix }}</span>

        <input
          v-model="inputValue"
          :ref="'input'"
          :class="{ 'input--touched': !untouched }"
          class="input"
          type="text"
          spellcheck="false"
          @keydown="keydownEvents($event)"
          @keydown.enter="selectItem()"
          @keyup.backspace="backspaceEvents()"
          @focus="selectTextBox"
          @blur="blurEvents()"
        >
        <ul
          v-if="focused"
          class="list"
          @mouseleave="hoverItemPos = -1"
        >
          <li
            v-for="(item, i) in filteredResults"
            :key="i"
            :class="{'list__item--active': hoverItemPos === i}"
            class="list__item"
            @mousedown="inputValue = item; selectItem()"
            @mouseover="hoverItemPos = i"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    items: {
      type: Array,
      default() {
        return []
      }
    },
    prefix: {
      type: String,
      default() {
        return ''
      }
    },
    type: {
      type: String,
      default() {
        return ''
      }
    },
    selected: {
      type: Boolean,
      default() {
        return false
      }
    },
  },
  data () {
    return {
      inputValue: 'Product Name',
      searchValue: '',
      focused: false,
      typing: false,
      hoverItemPos: -1,
      arrowEventing: false,
      untouched: true
    }
  },
  computed: {
    filteredResults() {
      if (this.focused && this.searchValue.length === 0) {
        return this.items.filter( (item, i ) => i <= 2000)
      }
      if (this.typing && this.searchValue.length > 0) {
        let matches =  this.items.filter(item => {
          let matchPos = item.toLowerCase().indexOf(this.searchValue.toLowerCase())
          return matchPos === 0
        })
        return matches
      }

    },
    itemsAmount() {
      if (this.items.length < 10) {
        return '0' + this.items.length
      } else {
        return this.items.length
      }
    }
  },
  watch: {
    selected(newVal) {
      if ( newVal === true ) {
        this.$nextTick(() => {

          this.$refs.input.focus()
          this.$refs.input.setSelectionRange(0, 0)
        })
      } else {
        this.untouched = true
        this.inputValue = 'Product name'
        this.searchValue = ''
        this.typing = false

      }
    },
    inputValue(newVal) {
      // if (this.inputValue) {
      // if (this.untouched) {
      //     // this.inputValue = e.key
      //   this.untouched = false
      // }

      this.typing = true;
      if (!this.arrowEventing) {
        this.searchValue = this.inputValue
      }
    }
  },
  methods: {
    selectTextBox() {

      this.$emit('selected')

      this.focused = true
      if (this.untouched) {

        this.inputValue = ''
        this.untouched = false
      }
    },
    clickedArea() {
      this.selected = true
    },
    arrowEvents(addition) {
      let newPos = this.hoverItemPos + addition

      if (this.filteredResults && newPos < 0) {
        newPos = this.filteredResults.length - 1
      }

      if (this.filteredResults && newPos === this.filteredResults.length ) {
        newPos = 0
      }

      // if (newPos>= 0 && this.filteredResults && newPos < this.filteredResults.length) {
      //   newPos = newPos
      // }

      if (this.filteredResults && this.filteredResults.length > 0) {
        this.inputValue = this.filteredResults[newPos]
        this.arrowEventing = true
        this.hoverItemPos = newPos
      }
    },
    blurEvents() {
      // this.arrowEventing = false
      this.$emit('blur')
      this.focused = false
      this.untouched = true
      this.typing = false
      this.hoverItemPos = -1
    },
    keydownEvents(e) {
      this.$nextTick(() => {
        if ((e.keyCode >= 48 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 32 ) {
          this.arrowEventing = false
        } else {
          if ( (e.keyCode >= 37 && e.keyCode <= 40) || e.keyCode === 8 || e.keyCode === 13) {
            return
          } else {

          }
        }
      })
    },
    backspaceEvents() {
      this.hoverItemPos = -1
      this.searchValue = this.inputValue
      this.typing = true
      if (this.inputValue === '') {
        // this.arrowEventing = false
      }
    },
    selectItem() {
      // if (this.items.some(item => this.inputValue === item )) {
      this.$refs.input.blur()
      this.$emit('blur')
      this.$emit('value', this.inputValue)
      // }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

  .part-search-block {
    display: inline-block;
    font-size: 1rem;
    user-select: none;

    @include sm {
      font-size: 25px;
    }
    &--active {
      color: #000;
    }

    &__title {
      // min-width: 130px;
      color: #D8D8D8;
      border-bottom: 1px solid #fff;

      cursor: default;
      padding: 0 40px 10px 0;
      margin: 0 20px 5px 0 ;
      @include sm {
        margin: 0;
        padding: 0 0 0 0;
      }

    }

    &__title-text {
      // dispal
      white-space: nowrap;
      @include sm {
        font-size: 18px;
      }

    }

    &__wrapper {
      background-color: #fff;
      // width: 100%;
      // height: 100%;
    }

    &__title--active {
      color: #000;
      border-bottom: 1px solid #000;
    }

    &__amount {
      color: #D8D8D8;
      font-size: 12px;
      // text-align: right;
      display: none;
      @include sm {
        display: inline-block;
        position: relative;
        bottom: 19px;
        right: 4px;
        font-size: 9px;
      }

    }

    &__amount--active {
      color: #000;
    }

  }

  .input-auto-container {
    position: absolute;
    display: inline-flex;
    // white-space: nowrap;
    background-color: #fff;
  }

  .prefix {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
  }

  .input {
    display: inline-block;
    left: 0;
    top: 0;
    font-size: 15px;
    width: 100px;
    font-family: $regular-font;
    outline: none;
    border: 0;
    transition:border-bottom .2s;
    padding: 0.2rem 0 0.2rem 0;
    color: #aaa;

    &--touched {
      color: #000;
    }

    &:focus {
      transition: border-bottom .5s;
      // border-bottom: 1px solid #000000;
    }
  }

  .list {
    font-family: $regular-font;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    padding: 0 2px 0 0;
    margin: 0.2rem 0;
    width: 100%;
    z-index: 1000;

    &__item {
      color: #555;
      font-size: 15px;
      margin: 0.5rem 0.4rem 0.5rem 1.1rem;
      width: 100%;
      cursor: default;
      &--active {
        color: #111;
      }
    }
  }
  .input-auto {
    display: none;
    // color: #000;
    &--active {
      display: block;
    }

  }
</style>

