
@mixin font-face($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('#{$file}.woff') format('woff');
        //  url('#{$file}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("FF-DIN-THIN", "~assets/fonts/DIN/DIN-Light", normal);
@include font-face("FF-DIN-MEDIUM", "~assets/fonts/DIN/DIN-Medium", normal);
// @include font-face("FF-DIN-BOLD", "~assets/fonts/DIN/DIN-Bold", normal);
// @include font-face("FF-DIN-REGULAR", "~assets/fonts/DIN/DIN-Regular", normal);
@include font-face("ACaslonPro", "~assets/fonts/ACaslonPro-Regular", normal);
@include font-face("Garamond", "~assets/fonts/Adobe Garamond Pro Regular", normal);



@import url("//hello.myfonts.net/count/39cc3a");
@font-face {font-family: 'FFDINWebProRegular';src: url('~assets/fonts/DIN-pro/39CC3A_0_0.eot');src: url('~assets/fonts/DIN-pro/39CC3A_0_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/DIN-pro/39CC3A_0_0.woff2') format('woff2'),url('~assets/fonts/DIN-pro/39CC3A_0_0.woff') format('woff'),url('~assets/fonts/DIN-pro/39CC3A_0_0.ttf') format('truetype');}
@font-face {font-family: 'FFDINWebProBold';src: url('~assets/fonts/DIN-pro/39CC3A_1_0.eot');src: url('~assets/fonts/DIN-pro/39CC3A_1_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/DIN-pro/39CC3A_1_0.woff2') format('woff2'),url('~assets/fonts/DIN-pro/39CC3A_1_0.woff') format('woff'),url('~assets/fonts/DIN-pro/39CC3A_1_0.ttf') format('truetype');}


@font-face {
  font-family: 'Amiri';
  src: url('~assets/fonts/Amiri/Amiri-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/Amiri/Amiri-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('~assets/fonts/Amiri/Amiri-Regular.woff2') format('woff2'),
      url('~assets/fonts/Amiri/Amiri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('~assets/fonts/Amiri/Amiri-Italic.woff2') format('woff2'),
      url('~assets/fonts/Amiri/Amiri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('~assets/fonts/Amiri/Amiri-Bold.woff2') format('woff2'),
      url('~assets/fonts/Amiri/Amiri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

