
$title-font: "FFDINWebProBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$medium-font: "FF-DIN-MEDIUM", "Helvetica Neue", Helvetica, Arial, sans-serif;
$thin-font: "FF-DIN-THIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
$regular-font: "FFDINWebProRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$adobe-caslon-font: "ACaslonPro", Times, serif;
$garamond: "Amiri", Times, serif;

