<template>
  <div>
    <!-- <div
      class="header-wrapper"
    >
      <the-header
        class="header"
      />
    </div>
    <div
      class="header-wrapper"
    >
      <the-selector-header
      />
    </div>

    <the-selector
      class="selector"
    />
    <nuxt-child :key="$route.params.id"/>
    <div
      class="header-wrapper"
    >
      <the-selector-header
      />
    </div>

    <the-selector
      class="selector"
    /> -->
  </div>
</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'
import TheSelector from '@/components/Blocks/TheSelector'
import TheSelectorHeader from '@/components/Blocks/TheSelectorHeader'
import TheProductList from '@/components/Blocks/TheProductList'

export default {
  components: {
    TheHeader,
    TheSelector,
    TheSelectorHeader,
    TheProductList
  },
  async fetch({store, params, error}) {
    await store.dispatch('fetchCategories')
    const res = await store.dispatch('fetchProducts')
    if (!res) {
      error('ERROR')
    }

  },
  computed: {
  },
  mounted() {
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 0 50px;
}

.selector {
  // margin-top: -30px;
}

</style>

