<template>
  <div
  >
    <the-header
    />
      <!-- v-if="$route.params.id === undefined" -->
    <mobile-header
      :inverse="$route.params.id !== undefined"
    />
    <div
      id="product-wrapper"
      class="gutter-wrapper-def"
    >

      <transition
        name="fade"
      >
        <modal-menu
          v-if="modal"
        />
      </transition>
      <nuxt/>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'
import MobileHeader from '@/components/Blocks/MobileHeader'
import ModalMenu from '@/components/Blocks/ModalMenu'
export default {
  components: {
    TheHeader,
    MobileHeader,
    ModalMenu
  },
  computed: {
    modal() {
      return this.$store.getters.getMenuModalState
    }
  },
  mounted() {
  },

}
</script>

<style lang="scss">

@import '@/assets/css/media-queries.scss';


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin-left: calc(100vw - 100%)
}
body {
  margin: 0
}

a {
  text-decoration: none;
  color: black;
}


.gutter-wrapper-def {
  padding: 0;
  margin: 0 0 0 0;
  overflow-y: initial;

  @include sm {
    overflow-y: hidden;
    margin: 0 auto 0 auto;
    padding: 81px 0 0 0;
  }
}


.fade-enter-active {
  transition: opacity 0.20s ease;
  opacity: 1;
}

// @keyframes fade-in {
//   0% {
//     transform: scale(0);
//     opacity: 0;
//   }
//   90% {
//     transform: scale(1.07);
//     animation-timing-function: ease;
//   }
//   100% {
//     transform: scale(1);

//     animation-timing-function: ease;
//     opacity: 1;
//   }
// }

.fade-leave-active {
  transition: opacity 0.20s ease;
  opacity: 0;
}
.fade-enter, .fade-leave-to {
    // transform: scale(0);

  opacity: 0;
}


</style>
