<template>
  <div
    class="wrapper-error"
  >
    <modal-menu
      v-if="modal"
    />
    <h1 v-if="error.statusCode === 404"> {{ error.message }} </h1>
    <h1 v-else>An error occurred</h1>
    <nuxt-link to="/">Home</nuxt-link>
  </div>

</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'
import MobileHeader from '@/components/Blocks/MobileHeader'
import ModalMenu from '@/components/Blocks/ModalMenu'
export default {
  components: {
    TheHeader,
    MobileHeader,
    ModalMenu
  },
  props: ['error'],
  computed: {
    modal() {
      return this.$store.getters.getMenuModalState
    }
  },
  mounted() {
  },

}
</script>

<style lang="scss" scoped>

@import '@/assets/css/fonts.scss';
@import '@/assets/css/media-queries.scss';


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin-left: calc(100vw - 100%)
}
body {
  margin: 0
}

a {
  text-decoration: none;
  color: black;
}

.header-wrapper {
  display: none;
  @include sm {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.selector-wrapper {
  margin: 50px auto 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 1520px;
}

.wrapper-error {
  padding: 0;
  margin: 0 0 0 0;
  overflow-y: initial;
  font-family: $medium-font;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include sm {
    overflow-y: hidden;
    margin: 0 auto 0 auto;
    padding: 200px 30px 0 30px;
  }

}

.feature {
  padding-top: 88px;
}

.highlights {

}


</style>
