<template>
  <div
    class="content-wrapper"
  >
    <div class="about-your-wrapper">
      <h2 class="about-your-title">
        About Your Palette
      </h2>
    </div>
    <div class="about-section">
      <img :src="aboutPage.image.fields.file.url+'?h=505&w=449&fit=fill&f=top'" alt="" class="about-mabintou-image">
      <div
        class="about-text-section"
      >{{ aboutPage.text }}
        <div
          class="about-text-signature-wrapper"
        >
          <div class="about-text-signature">{{ aboutPage.signed }}</div>
          <!-- <img :src="signatureImageURL" class="about-text-signature-image"> -->
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'

export default {
  head (context) {
    return {
      title: `About - Your Palette`,
    }
  },
  components: {
    TheHeader,
  },
  async fetch({store, params}) {
    if (!store.state.aboutPage) {
      await store.dispatch('fetchAboutPage')
    }
  },
  data() {
    return {

    }
  },
  computed: {
    category() {
      return this.$store.getters.getCategory
    },
    feedLength() {
      return this.$store.getters.getFeedLength
    },
    aboutPage() {
      return this.$store.getters.getAboutPage
    },
    signatureImageURL() {
      if (this.aboutPage.signature) {
        return this.aboutPage.signature.fields.file.url
      }
    }
  },
  mounted() {
    this.$nextTick(()=>{
      this.$store.commit('closeModalMenu')
    })
    this.scroll()

  },
  methods: {
    scroll (person) {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          let addedPosts = 3
          this.$store.commit('setFeedLength', this.$store.state.feedLength + addedPosts)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';
.header-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-wrapper {
  margin: 50px auto 110px auto;
  width: 100%;
  justify-content: center;
  max-width: 1380px;
  padding: 0;

  @include sm {
    padding: 0 30px 0 30px;
    margin: 50px auto 200px auto;
  }

}

.product-wrapper {
  margin: 0 auto 250px auto;
  padding: 0 50px 0 50px;
}

.about-your-wrapper {
  margin: 87px 0 90px 0;
  display: none;

  @include sm {
    margin: 87px 0 100px 0;
    display: block;
  }

}

.about-your-title {
  font-size: 22px;
  display: inline;
  font-family: $medium-font;
  border-bottom: 5px solid #000;
  padding: 0 25px 14px 0;
  margin: 0 0 0 0;
  font-weight: 400;
}

.about-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  @include sm {
    padding: 0 10px;
  }
}

.about-mabintou-image {
  width: 86%;
  align-self: start;
  margin: 0 45px 60px 45px;

  // padding: 0 20px;
  @include sm {
    margin: 0 35px 50px 35px;
    width: 449px;

  }

}

.about-text-section {
  margin: 0 23px;
  width: auto;
  font-family: $garamond;
  line-height: 1.85;
  white-space: pre-wrap;
  font-size: 14px;
  p {
    font-size: 14px;
  }

  @include sm {
    margin: 4px 35px 0 35px;
    width: 412px;
    line-height: 1.38;
    font-size: 18px;

    p {
      font-size: 18px;
      // margin-top: 0;
    }
  }

}

.about-text-signature-wrapper {
  position: relative;
}

.about-text-signature {
  position: relative;
  text-align: right;
  z-index: 9999;
}
.about-text-signature-image {
  width: 30%;
  top: 15px;
  right: -4px;
  position: absolute;
  z-index: 0;
}

</style>
