<template>
  <div
    class="content-wrapper"
  >
    <div class="contact-your-wrapper">
      <h2 class="contact-your-title">
        Contact
      </h2>
    </div>
    <div class="contact-section">
      <span
        class="contact-section-column"
      >
        <div
          class="contact-section-row contact-section-row--title"
        >
          social media
        </div>
        <div
          v-for="(name, i) in contactPage.socialMediaNames"
          :key="name"
          class="contact-section-row"
        >
          <a :href="'http://' + contactPage.socialMediaLinks[i]">{{ name }}</a>
        </div>
      </span>
      <span>
        <div
          class="contact-section-row contact-section-row--title"
        >
          email
        </div>
        <div
          v-for="(email, i) in contactPage.eMails"
          :key="email"
          class="contact-section-row"
        >
          <a :href="`mailto:${email}`">{{ email }}</a>
        </div>
      </span>
    </div>
    <div class="footer">
      <div
        class="footer__wrapper"
      >
        <div class="footer__title">
          Contributors
        </div>
        <div
          class="footer__line"
        />
        <div class="footer__row">
          <div
            v-for="person in contactPage.contributors"
            :key="person"
          >
            {{ person }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'

export default {
  head (context) {
    return {
      title: `Contact - Your Palette`,
    }
  },
  components: {
    TheHeader,
  },
  async fetch({store, params}) {
    await store.dispatch('fetchContactPage')
  },
  data() {
    return {

    }
  },
  computed: {
    category() {
      return this.$store.getters.getCategory
    },
    contactPage() {
      return this.$store.getters.getContactPage
    },
    feedLength() {
      return this.$store.getters.getFeedLength
    }
  },
  mounted() {
    this.$nextTick(()=>{
      this.$store.commit('closeModalMenu')
    })
    this.scroll();
  },
  methods: {
    scroll (person) {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          let addedPosts = 3
          this.$store.commit('setFeedLength', this.$store.state.feedLength + addedPosts)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.header-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.content-wrapper {
  margin: 50px auto 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 1380px;
  padding: 0;
  @include sm {
    margin: 50px auto 200px auto;
    padding: 0 30px 0 30px;
  }

}

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: $title-font;
  flex-direction: column;
  margin: 100px 0 20px 0;
  @include sm {
    font-size: 12px;
    font-family: $regular-font;
    margin: 0;
    position: fixed;
    height: 100px;
    flex-direction: row;
  }
  &__wrapper {
    width: auto;
    @include sm {
      width: 1000px;
    }    // background-color: #ccc;
  }
  &__title {
    margin: 0 30px 16px 30px;
    @include sm {
      margin: 0;
    }
  }
  &__line {
    margin: 8px 0 0 0;
    height: 1px;
    background-color: #000;
  }
  &__row {
    font-family: $regular-font;
    margin: 30px 30px 20px 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    @include sm {
      margin: 8px 0 0 0;
      flex-direction: row;
    }

    & div {
      margin: 0 0 12px 0;
      @include sm {
        margin: 0;
      }

    }
  }
}

.product-wrapper {
  margin: 0 auto 250px auto;
  padding: 0 50px 0 50px;
}

.contact-your-wrapper {
  margin: 87px 0 200px 0;
  display: none;
  @include sm {
    display: block;
  }
}

.contact-your-title {
  font-size: 22px;
  display: inline;
  font-family: $medium-font;
  border-bottom: 5px solid #000;
  padding: 0 25px 14px 0;
  margin: 0 0 0 0;
  font-weight: 400;
}

.contact-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px;
  margin: 135px 0 0 -3px;
  font-family: $medium-font;
  font-size: 18px;
  @include sm {

    margin: 75px 0 0 0;
    font-size: 18px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: center;
  }

}

.contact-section-column {
  margin: 0 0 50px 0;
  @include sm {
    margin: 0 70px;
  }

}

.contact-section-row {
  margin: 20px 0;
  @include sm {
    margin: 20px 0;
  }

}
.contact-section-row--title {
  font-family: $thin-font;
  margin: 0 0 17px 0;
  @include sm {
    margin: 0 0 31px 0;
  }
}

.contact-mabintou-image {
  width: 449px;
  align-self: start;
  margin: 0 35px 50px 35px;
}

.contact-text-section {
  margin: 0 35px 0 35px;
  width: 412px;
  font-size: 18px;
  font-family: $garamond;
  line-height: 1.35;

  p {
    margin-top: 0;
  }
}

.contact-text-signature {
  text-align: right;
}

</style>
