<template>
  <div>
    <highlights-section
      class="highlights"
    />
  </div>
</template>

<script>
import HighlightsSection from '@/components/Blocks/HighlightsSection'
import store from '@/store/index.js'

export default {
  components: {
    HighlightsSection,
  },
  async fetch({ store }) {
    await store.dispatch('fetchFrontPage')
  },
  computed: {
  },
  mounted() {
    this.$nextTick(()=>{
      this.$store.commit('closeModalMenu')
    })
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';


</style>

