<template>
  <div
    class="products-wrapper"
  >
    <div
      v-if="$route.params.id === undefined || $mq === 'sm'"
      class="selectors-line"
    />
    <div
      class="selectors-wrapper"
    >
      <the-selector-header
        v-if="$route.params.id === undefined || $mq === 'sm'"
      />
      <the-selector
        v-if="$route.params.id === undefined && $mq !== 'sm'"
        class="selector"
      />
      <the-selector-mobile
        v-if="$route.params.id === undefined && $mq === 'sm'"
        class="selector"
      />
    </div>

    <the-product-list
      v-if="$route.params.id === undefined"
      :products="category"
      class="product-list"
    />
    <nuxt-child :key="$route.params.id"/>
  </div>
</template>

<script>
import TheHeader from '@/components/Blocks/TheHeader'
import TheSelector from '@/components/Blocks/TheSelector'
import TheSelectorMobile from '@/components/Blocks/TheSelectorMobile'
import TheSelectorHeader from '@/components/Blocks/TheSelectorHeader'
import TheProductList from '@/components/Blocks/TheProductList'
import store from '@/store/index.js'

export default {
  head () {
    return {
      title: `Products - Your Palette`,
    }
  },
  components: {
    TheHeader,
    TheSelector,
    TheSelectorMobile,
    TheSelectorHeader,
    TheProductList
  },
  async fetch({store, params}) {
    // await store.dispatch('fetchProducts')
  },
  data() {
    return {

    }
  },
  computed: {
    category() {
      return this.$store.getters.getCategory
    },
    feedLength() {
      return this.$store.getters.getFeedLength
    }
  },
  mounted() {
    this.$nextTick(()=>{
      this.$store.commit('closeModalMenu')
    })
    this.scroll()
  },
  methods: {
    scroll (person) {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          let addedPosts = 3
          this.$store.commit('setFeedLength', this.$store.state.feedLength + addedPosts)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';

.products-wrapper {
  padding: 0;
  @include sm {
    padding: 0 30px 0 30px;
  }
}

.header-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.selectors-wrapper {
  max-width: 1520px;
  margin: 0 auto;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // flex-wrap: nowrap;
}
.selectors-line{
  height: 1px;
  background-color: #000;
  position: relative;
  width: calc(100%);
  top: 159px;
  // margin: 0 0 0 -30px;
  z-index: 1;
  @include sm {
    margin: 0 0 0 -30px;
    width: calc(100% + 60px);
    top: 400px;
  }
}

.selector-wrapper {
  margin: 50px auto 0 auto;
  width: 100%;
  justify-content: center;
}

.gutter-wrapper {
  margin: 0 auto 250px auto;
  padding: 0 50px 0 50px;

}

.selector {
  // margin-top: -30px;
}

.product-list {
  margin-bottom: 100px;
  @include sm {
    margin-bottom: 200px;
  }
}
</style>

