<template>
  <div>
    <!-- <the-product-list :products="products"/> -->
  </div>
</template>

<script>
import TheProductList from '@/components/Blocks/TheProductList'
import TheSelector from '@/components/Blocks/TheSelector'
import TheSelectorHeader from '@/components/Blocks/TheSelectorHeader'


export default {
  head (context) {
    function jsUcfirst(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    let id = jsUcfirst(this.params.categoryType)
    return {
      title: `${id} - Products - Your Palette`,
    }
  },
  components: {
    TheSelector,
    TheSelectorHeader,
    TheProductList
  },
  async asyncData({ params, store, env, error, redirect }) {
    const res = await store.dispatch('fetchProducts', {
      categoryType: params.categoryType
    })
    if (!res) {
      redirect('/products')
    }
    await store.dispatch('fetchCategories')

    return {
      params: params
    }
  },
  data() {
    return {
      // category: this.$route.params.idProducts
    }
  },
  computed: {
    products() {
      return this.$store.getters.getCategory
    },
  },
  async mounted() {
    if (!this.$route.params.id || !this.$route.params.category ) {
      const res = await this.$store.dispatch('fetchProducts', {
        categoryType: this.$route.params.categoryType
      })
      if (!res) {
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/css/media-queries.scss';

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 0 50px;
}

.selector {
  // margin-top: -30px;
}


</style>

