<template>
  <div class="product-gallery">

    <div
      class="product-gallery__modal"
      v-if="modal.show"
      @click="clickEvents"
    >

      <img
        class="product-gallery__modal-image"
        v-for="(image, i) in images"
        v-if="i == selectedImage"
        :src="image.fields.file.url + '?h=1600'"
        draggable="false"
      >
    </div>
    <div class="product-gallery__thumbs">
      <img
        v-for="(image, i) in images"
        :key="i"
        :class="{'product-gallery__thumb--selected': i === selectedImage}"
        :src="image.fields.file.url + '?h=300'"
        class="product-gallery__thumb"
        @click="selectedImage = i"
      >
    </div>
    <div
      class="product-gallery__main-image"
      @click="clickEvents()"
    >
      <img
        v-for="(image, i) in images"
        v-if="i == selectedImage"
        :src="image.fields.file.url + '?w=666'"
      >
      <no-ssr>
          <!-- v-for="(image, i) in images"
          v-if="i == selectedImage"
          :key="i" -->
        <!-- <ProductZoomer
          :base-images="imagesZoom"
          :base-zoomer-options="zoomerOptions"
        /> -->
      </no-ssr>

    </div>
  </div>
</template>

<script>

export default {
  // components: {
    // ProductZoomer
  // },
  props: {
    images: {
      type: Array,
      default() {
        return []
      }
    },
    clickedImage: {
      type: Number,
      default() {
        return 0
      }
    }
  },
  data() {
    return {
      selectedImage: 0,
      activateModal: false,
      zoomerOptions: {
        zoomFactor: 4,
        pane: 'container',
        hoverDelay: 300,
        namespace: 'container-zoomer',
        move_by_click: true,
        scroll_items: 4,
        choosed_thumb_border_color: "#ff3d00"
      },
      imagesZoom: [
          {
            normal_size: [
              {
                id:'123',
                url: '//images.ctfassets.net/mn5aznkgdg2f/4sdqljyl8kIaCsmGGeY8aG/556adb44294dccd953a03c800cf5ac43/Intermission_Magazine_12_CHANEL_MARIMEKKO_2500px.jpg'
              },
            ]
          },
          {
            large_size: [
              {
                id:'234',
                url: '//images.ctfassets.net/mn5aznkgdg2f/4sdqljyl8kIaCsmGGeY8aG/556adb44294dccd953a03c800cf5ac43/Intermission_Magazine_12_CHANEL_MARIMEKKO_2500px.jpg'
              },
            ]
          }
      ]
    }
  },
  computed: {
    modal() {
      return this.$store.getters.getProductModalState
    },
    firstProductImage() {
      return this.$store.getters.getFirstProductImage
    },
  },
  mounted() {
    this.selectedImage = this.firstProductImage
    this.$store.commit('setFirstProductImage', 0)
  },
  methods: {
    clickEvents() {
      this.$store.commit('setProductModal', {
        show: !this.modal.show,
        image: this.images[this.selectedImage].fields.file.url
      })
      document.getElementsByTagName('body')[0].style.overflow = this.modal.show ? 'hidden' : 'visible'
    }
  }
}
</script>


<style lang="scss" scoped>
.product-gallery {
  display: flex;
  width: 697px;

  &__thumbs {
    display: inline-block;
    width: 210px;
    height: 100%;
    // background-color: red;
    overflow: auto;
    cursor: pointer;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    width: 100vw;
    height: 100vh;
    // background-color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255 ,255, 0.7);
    overflow: hidden;
  }

  &__modal-image {
    box-shadow: 0 0 90px rgba(0, 0 ,0, 0.5);
    max-height: 95%;
    overflow: hidden;
    user-select: none;

  }

  &__thumb {
    // display: inline-block;
    float: right;
    height: 150px;
    margin-right: 26px;
    margin-bottom: 26px;
    opacity: 0.75;

    &--selected {
      opacity: 1;
    }
  }

  &__main-image {
    display: inline-block;
    width: 406px;
    cursor: pointer;
    margin-bottom: 297px;

    & > img  {
      width: 100%;
    }
  }
}

</style>

