<template>
  <div class="product-header">
    <div class="product-header__nav">
      <span

        class="product-header__nav-text-line"
      >
        <nuxt-link
          :to="`/products/`"
          tag="a"
          class="product-header__nav-text-line--all"
        >
          All
        </nuxt-link>
        <span
          :class="{'product-header__nav-text-line--inactive': !navigationAvaliable[0]}"
          @click="navigationAvaliable[0] && emitNavigation(-1)"
        >
          <img
            src="/images/arrow-left.svg"
            class="product-header__nav-text-line__image"
          >
          <span class="product-header__nav-text-line-text">Previous product</span>
        </span>
      </span>
      <span
        :class="{'product-header__nav-text-line--inactive': !navigationAvaliable[1]}"
        class="product-header__nav-text-line"
        @click="navigationAvaliable[1] && emitNavigation(1)"
      >
        <span class="product-header__nav-text-line-text">Next product</span>
        <img
          src="/images/arrow-right.svg"
          class="product-header__nav-text-line__image"
        >
      </span>
    </div>
    <div
      class="product-header__x"
      @click="$router.push(`/products/${$route.params.categoryType}/${$route.params.category}`)"
    >
      <img src="/images/x.svg">
    </div>
  </div>
</template>

<script>

export default {
  props: {
    navigationAvaliable: {
      type: Array,
      default() {
        return [false, false]
      }
    }
  },
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
    emitNavigation(dir) {
      this.$emit('navigation', dir)
    }
  }
}
</script>


<style lang="scss">

@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.product-header {
  height: 85px;
  font-family: $regular-font;
  @include sm {
    height: 125px;
  }

  &__nav {
    margin: 42px 0 0 0;
    width: 100%;
    display: inline-block;

    @include sm {
      margin: 42px 0 0 210px;
      width: 406px;
    }
  }

  &__nav-text-line {
    font-family: $regular-font;
    user-select: none;
    cursor: pointer;
    float: right;
    font-size: 15px;
    &--all {
      cursor: pointer;
      margin: 0 4px 0 0;

    }
     &__image {
      padding: 0 0.2rem 0 0.2rem;
      min-width: 20px;

        &:first-child {
          padding: 0 0.2rem 0 0.2rem;
          min-width: 20px;
        }
     }

    &:first-child {
      float: left;
    }

    &--inactive {
      color: #aaa;
      filter: invert(0.5);
      cursor: default;
    }
  }

  &__x {
    margin: 35px 37px;
    cursor: pointer;
    float: right;
    display: none;
    @include sm {
      display: block;
    }
  }
}


</style>

