<template>
  <div
    :class="{'product-main--loaded': loaded}"
    class="product-main"
  >
    <h1
      :id="'title-' + product.sys.id"
      class="product-main__title"
    >
      {{ product.brand }}: {{ product.productName }}
    </h1>
    <div class="product-main__category-row">
      <div class="product-main__line" />
      <span class="product-main__category">
        #{{ product.productCategory.fields.categoryName.toLowerCase() }}
      </span>
    </div>
    <div class="product-main__description">
      <joel-markdown
        :text="product.description"
      />
    </div>
    <div
      class="product-main__buy"
    >
      Buy it here:
    </div>
    <div
      class="product-main__buy-regions"
    >
      <div
        v-for="(region, i) in regions"
        :key="'region-'+ region "
        class="product-main__buy-region"
      >
        <div
          class="product-main__buy-region-title"
        >
          {{ region }}
        </div>
        <div
          v-for="(store, ii) in product.stores"
          v-if="store.fields.region === region"
          :key="'store-' + region + '-' + ii"
        >
          <a
            :href="store.fields.link"
            class="product-main__buy-region-link"
          > {{ store.fields.storeName }} </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fitty from 'fitty'
import JoelMarkdown from '@/components/joel-markdown'

export default {
  components: {
    JoelMarkdown
  },
  props: {
    product: {
      type: Object,
      default() {
        return {}
      }
    },
    show: {
      type: Boolean,
      default() {
        return false
      }
    },
  },
  data() {
    return {
      loaded: true
    }
  },
  computed: {
    regions() {
      let regions = this.product.stores.map(store => store.fields.region )
      return regions.reduce((x, y) => x.includes(y) ? x : [...x, y], [])
    }
  },
  watch: {
    show(val, newVal) {
    }
  },
  updated() {
  },
  mounted() {
    let titleElement = document.getElementsByClassName('product-main__title')
    let fitties = fitty('.product-main__title', {
      maxSize: 16*4
    })

    titleElement[0].addEventListener('fit', (e) => {
      this.$nextTick( () => {
        this.loaded = true
      })

    });

  },
  beforeDestroy() {
    let fitties = fitty('.product-main__title', {
      maxSize: 16*4
    })
    fitties[0].unsubscribe();
    this.loaded = false
  }
}
</script>

<style lang="scss">
@import '@/assets/css/fonts.scss';

.product-main {
  // font-family: $medium-font;
  display: flex;
  flex-direction: column;
  line-height: 0.7;
  width: 100%;
  margin: 0 4rem 6rem 6rem;
  opacity: 0;

  &--loaded {
    opacity: 1;
  }

  &__title {
    width: 300px;
    height: 40px;
    font-size: 2rem;
    font-family: $garamond;
    font-weight: 200;
    margin: 0;
  }

  &__category-row {
    display: flex;
    align-items: center;
    font-family: $garamond;
    margin: 1rem 0 1rem 1rem;
  }

  &__line {
    height: 2px;
    background-color: #000;
    width: 100%;
  }
  &__category {
    font-size: 2rem;
    margin: 0 0 0 1.5rem;
  }
  &__description {
    font-size: 1.15rem;
    font-family: $garamond;
    font-size: 18px;
    padding: 0 0 0 1rem;
    min-height: 362px;
    color: #111;
    letter-spacing: -0.02rem;
    line-height: 1.5;
    margin: 0 0 15px 0;
    & p {
      margin: 0 0 1em 0;
    }
    & h1 {
      font-family: $thin-font;
      font-size: 1.15rem;
      position: relative;
      cursor: pointer;
      // user-select: none;
      // font-weight: 500 !important;
    }
  }

  &__buy {
    padding: 0 0 12px 0;
    margin: 0 0 1.5rem 1rem;
    font-family: $medium-font;
    font-size: 18px;
    border-bottom: 2px solid #000;
  }

  &__buy-regions {
    margin: 0 0 0 1rem;
    font-family: $medium-font;
    font-size: 18px;
    display: flex;
    color: #888;
    justify-content: space-around;
  }

  &__buy-region {
    width: 100%;
  }

  &__buy-region-title {
    margin-bottom: 2rem;
    color: #000;
  }
  &__buy-region-link {
    color: #000;
    text-decoration: underline;
  }
}

</style>

