<template>
  <div class="product">


    <product-header
      :navigation-avaliable="navigationAvaliable"
      @navigation="$emit('navigation', $event)"
    />
    <div
      class="product__second-row"
    >
      <product-gallery
        :images="product.images"
      />

      <product-main
        :product="product"
      />
      <!-- :show="show" -->
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/Blocks/ProductModal/ProductHeader'
import ProductGallery from '@/components/Blocks/ProductModal/ProductGallery'
import ProductMain from '@/components/Blocks/ProductModal/ProductMain'
export default {
  components: {
    ProductHeader,
    ProductMain,
    ProductGallery,
  },
  props: {
    productIndex: {
      type: Number,
      default() {
        return 0
      }
    },
    products: {
      type: Array,
      default() {
        return []
      }
    },
    show: {
      type: Boolean,
      default() {
        return false
      }
    },
  },
  computed: {
    regions() {
      let obj = {}
      let arrOfRegions = this.product.stores.map(x =>  x.fields.region )
      arrOfRegions = arrOfRegions.filter( (item, pos) => arrOfRegions.indexOf(item) == pos)
      return arrOfRegions
    },
    product() {
      let existingProduct = this.products[this.productIndex] !== undefined
        ? this.products[this.productIndex]
        : {
          brand: '',
          description: '',
          fullProductName: '',
          images: [
            {
              fields: {
                file: {
                  url: ''
                },
                title: ''
              }
            }
          ],
          productCategory: {
            fields: {
              categoryName: '',
              facePart: '',
              slug: '',
            }
          },
          productName: '',
          slug: '',
          stores: [
            {
              fields: {
                link: '',
                region: '',
                storeName: ''
              }
            }
          ],
          sys: {
            id: '1234'
          }
        }
      return existingProduct
    },
    mounted() {
      this.clickedImage
    },
    navigationAvaliable() {
      const previous = this.productIndex !== 0
      const next = this.productIndex < this.products.length - 1
      return [previous, next]
    },
    modal() {
      return this.$store.getters.getModalState
    }
  },
  watch: {
    product(val) {

    }
  },
}
</script>


<style lang="scss" scoped>
.product {
  // display: absolute;
  // top: 0;
  width: 100%;
  max-width: 1296px;
  margin: 81px auto 0 auto;
  // border: 1px solid #999;
  // border: 1px solid #FFF;
  overflow: auto;
  &__header {
    height: 125px;
  }
  &__second-row {
    display: flex;
    // height: 730px;
  }
}

</style>

