<template>
  <div class="product-mobile">
    <div
      :id="'fitty-text-product'"
      class="product-mobile__title"
      @click="onClick()"

    >
      {{ product.brand }}: {{ product.productName }} #{{ product.productCategory.fields.categoryName.toLowerCase() }}
    </div>

    <img
      :src="images[selectedImage] + '?w=600'"
      alt=""
      class="product-mobile__main-image"
      id="product-mobile__main-image-id"
    >
    <div
      class="product-mobile__text"
    >
      <!-- <vue-markdown
        :breaks="true"
      >{{ product.description }}</vue-markdown> -->
      <joel-markdown
        :text="product.description"
      />

    </div>
    <div
      class="product-mobile__subheader-wrapper"
    >
      <span
        class="product-mobile__subheader-text"
      >
        More palettes:
      </span>
    </div>
    <div
      class="product-mobile__gallery"
    >
      <div
        v-for="(image, i) in images"
        @click="clickGalleryImage(i)"
      >
        <img
          :src="image + '?w=200'"
          class="product-mobile__gallery-image"
          :class="{'product-mobile__gallery-image--active': selectedImage === i}"
        >
      </div>
    </div>
    <div
      class="product-mobile__subheader-wrapper"
    >
      <span
        class="product-mobile__subheader-text"
      >
        Buy it here:
      </span>
    </div>
    <div
      class="product-mobile__buy-regions"
    >
      <div
        v-for="(region, i) in regions"
        :key="'region-'+ region "
        class="product-mobile__buy-region"
      >
        <div
          class="product-mobile__buy-region-title"
        >
          {{ region }}
        </div>
        <div
          v-for="(store, ii) in product.stores"
          v-if="store.fields.region === region"
          class="product-mobile__buy-region-store"
          :key="'store-' + region + '-' + ii"
        >
          <a
            :href="store.fields.link"
            class="product-mobile__buy-region-link"
          > {{ store.fields.storeName }} </a>
        </div>
      </div>
    </div>

    <product-header
      class="product-mobile__product-header"
      :navigation-avaliable="navigationAvaliable"
      @navigation="$emit('navigation', $event)"
    />
  </div>
</template>

<script>
import ProductHeader from '@/components/Blocks/ProductModal/ProductHeader'
import fitty from 'fitty'
import VueScrollTo from 'vue-scrollto'
import VueMarkdown from 'vue-markdown'
import JoelMarkdown from '@/components/joel-markdown'

export default {
  components: {
    ProductHeader,
    VueMarkdown,
    JoelMarkdown
  },
  props: {
    productIndex: {
      type: Number,
      default() {
        return 0
      }
    },
    show: {
      type: Boolean,
      default() {
        return false
      }
    },
  },
  data() {
    return {
      selectedImage: 0
    }
  },
  computed: {
    product() {
      let existingProduct = this.products[this.productIndex] !== undefined
        ? this.products[this.productIndex]
        : {
          brand: '',
          description: '',
          fullProductName: '',
          images: [
            {
              fields: {
                file: {
                  url: ''
                },
                title: ''
              }
            }
          ],
          productCategory: {
            fields: {
              categoryName: '',
              facePart: '',
              slug: '',
            }
          },
          productName: '',
          slug: '',
          stores: [
            {
              fields: {
                link: '',
                region: '',
                storeName: ''
              }
            }
          ],
          sys: {
            id: '1234'
          }
        }
    return existingProduct
    },
    images() {
      return this.product.images.map(x => x.fields.file.url )
    },
    firstProductImage() {
      return this.$store.getters.getFirstProductImage
    },
    regions() {
      let regions = this.product.stores.map(store => store.fields.region )
      return [...new Set(regions)]
    },
    products() {
      return this.$store.getters.getCategory
    },
    navigationAvaliable() {
      const previous = this.productIndex !== 0
      const next = this.productIndex < this.products.length - 1
      return [previous, next]
    },
    modal() {
      return this.$store.getters.getModalState
    }
  },
  watch: {
    product(val) {

    }
  },
  mounted() {
    let titleElement = document.getElementsByClassName('product-mobile__title')

    let fitties = fitty('.product-mobile__title', {
      maxSize: 16*4
    })

    titleElement[0].addEventListener('fit', (e) => {
      this.$nextTick( () => {
        this.loaded = true
      })
    })
    this.selectedImage = this.firstProductImage
    this.$store.commit('setFirstProductImage', 0)


  },
  beforeDestroy() {
    let fitties = fitty('.product-mobile__title', {
      maxSize: 26
    })
    // fitties[0].unsubscribe();
    this.loaded = false
  },
  methods: {
    clickGalleryImage(i) {
      this.selectedImage = i

      let options = {
        // container: '#product-wrapper',
        easing: 'ease-in',
        offset: -30,
        force: true,
        cancelable: true,
        onStart: function(element) {
          // scrolling started
        },
        onDone: function(element) {
          // scrolling is done
        },
        onCancel: function() {
          // scrolling has been interrupted
        },
        x: false,
        y: true
      }
      this.$nextTick(()=> {
        let cancelScroll = this.$scrollTo('#product-mobile__main-image-id', 100, options)
      })
    }
  }
}
</script>


<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.product-mobile {
  &__title {
    font-family: $garamond;
    padding: 0 20px;
    font-size: 20px;
    margin: 55px 0 35px 0;
  }

  &__main-image {
    width: 100%;
    margin: 0 0 50px 0;
  }
  &__text {
    padding: 0 20px;
    line-height: 1.8;
    font-family: $medium-font;
    font-size: 14px;
    margin: 0 0 80px 0;

    & p {
      margin: 0 0 1em 0;
    }
    & h1 {
      font-family: $thin-font;
      font-size: 1.15rem;

    }
  }

  &__subheader-wrapper {
    border-bottom: 1px solid #000;
    padding: 0 0 10px 0;
    margin: 0 0 70px 0;
  }

  &__subheader-text {
    padding: 0 0 0 27px;
    font-family: $medium-font;
    font-size: 18px;
  }

  &__gallery {
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 30px 0;
    & img {
      width: 100%;
    }
  }

  &__gallery-image {
    height: 160px;
    width: 100%;
    max-width: 110px;
    // margin: 0 10px;
    object-fit: cover;
    opacity: 0.62;
    &--active {
      opacity: 1;

    }
  }

&__buy-regions {
    margin: -1.2rem 0 3rem 1.7rem;
    font-family: $medium-font;
    font-size: 18px;
    color: #000;
    justify-content: space-around;
  }

  &__buy-region {
    margin-bottom: 60px;
    width: 100%;
  }

  &__buy-region-store {
    margin-bottom: 22px;
  }

  &__buy-region-title {
    margin-bottom: 1.7rem;
  }

  &__buy-region-link {
    color: #000;
    text-decoration: underline;
  }

  &__product-header {
    padding: 0 20px;
  }
}

</style>

