<template>
  <div>
    <GalleryModal
      v-if="galleryModal"
      :post="post"
      @close="galleryModal = !galleryModal"
    />
    <header-block
      :post="post"
      :gallery="gallery"
    />

    <div
      class="editorial-page__gallery-wrapper"
    >
      <div
        class="editorial-page__sharing-wrapper"
      >
        <social-sharing
          :url="'https://vuejs.org/'"
          :title="post.title"
          :description="post.description"
          :quote="post.openingQuote"
          inline-template
          style="cursor: pointer"
          class="editorial-page__header-image-share"
        >
          <network network="facebook">
            <div> Share<img style="display: inline-block; height: 7px; padding: 0 0 2px 2px;" src="/SVG/small-arrow.svg"> </div>
          </network>
        </social-sharing>
      </div>
      <div
        class="editorial-page__gallery "
      >
        <div
          class="editorial-page__gallery-background"
        />
        <div
          class="gallery-block__wrapper-outside"
        >
          <GalleryBlock
            :fields="post"
            :bg-color="'rgba(0,0,0,0)'"
            :height-ratio="0.69021190716"
            @click="clickedGallery"
          />
        </div>
      </div>
    </div>
    <div
      class="editorial-page__mobile-parts"
      v-if="!gallery"
    >
      <div class="editorial-page__m-mu-section ">
        MAKE UP
      </div>
      <ul
        class="editorial-page__m-mu-box"
      >
        <li
          v-for="(item, i) in post.makeUpItems"
          :key="item"
        >
          {{ i+1 }}. {{ item }}
        </li>
      </ul>
      <!-- {{ $router.params }} -->
      <nuxt-link
        :to="`/articles/${$route.params.year}/${$route.params.month}/${$route.params.articleSlug}/gallery`"
        class="editorial-page__m-gallery-link"
        tag="div"
      >
        view full story here
      </nuxt-link>
    </div>
    <div
      class="editorial-page__gutter editorial-page__gutter--no-mobile"
    >
      <div
        class="editorial-page__mu-wrapper"
      >
        <MakeUpBlock
          :post="post"
        />
      </div>
      <TeamBlock
        :post="post"
      />
    </div>
  </div>
</template>

<script>
import GalleryModal from '@/components/Blocks/Editorial/GalleryModal'
import HeaderBlock from '@/components/Blocks/Editorial/HeaderBlock'
import MakeUpBlock from '@/components/Blocks/Editorial/MakeUpBlock'
import TeamBlock from '@/components/Blocks/Editorial/TeamBlock'
import GalleryBlock from '@/components/Blocks/Interview/GalleryBlock'

export default {
  components: {
    HeaderBlock,
    GalleryBlock,
    MakeUpBlock,
    TeamBlock,
    GalleryModal,
  },
  props: {
    post: {
      type: Object,
      default() {
        return {
        }
      }
    },
    gallery: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
      galleryModal: false
    }
  },
  beforeCreate() {
    this.$store.commit('setInverseLogo', true)
  },
  destroyed() {
    this.$store.commit('setInverseLogo', false)
  },
  mounted() {
  },
  computed: {
  },
  methods: {
    clickedGallery() {

      this.galleryModal = !this.galleryModal
    }
  }
}
</script>


<style lang="scss">
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';


.editorial-page__gallery {
  // background-color:#F7F1F1;
  position: relative;
  // padding: 0 30px 0 30px;

}
.editorial-page__gallery-background {
  position: absolute;
  background-color:#F7F1F1;
  top: 50%;
  margin: -26px 0 0 0;
  transform: translateY(-50%);
  height: 80%;
  width: 100%;
}

.gallery-block__wrapper-outside {
  max-width: 991px;
  margin: 0 auto 73px auto;
  cursor: pointer;
}

.editorial-page__gallery-wrapper {
  display: none;
  @include sm {
    display: block;
  }
}

.editorial-page__sharing-wrapper {
  // background-color: red;
  display: flex;
  justify-content: flex-end;
  margin: 0 25%;
}

.editorial-page__gutter {
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 50px 80px 50px;
  // background-color: #ccc;

  &--no-mobile {
    padding: 0 0 80px 0;
    @include sm {
      padding: 0 50px 80px 50px;
    }
  }
}

.editorial-page__header-image-share {
  // transform: translateX(79%);
  cursor: pointer;
  display: inline-flex;
  font-family: $regular-font;
  font-size: 12px;
  margin-bottom: 10px;

  & img {
    margin: 1px 0 0 1px;
  }
}

.editorial-page__mu-wrapper {
  margin: 0 0 150px 0;
  display: none;
  @include sm {
    display: block;
  }
}

.editorial-page__mobile-parts {
  display: block;
  background-color: #F7F1F1;
  padding: 30px 30px 30px 30px;
  font-size: 14px;
  font-family: $title-font;
  @include sm {
    display: none;

  }
}

.editorial-page__m-gallery-link {
  border: 1px solid #000;
  padding: 20px 0 19px 0;
  font-size: 14px;
  font-family: $garamond;
  font-style: italic;
  box-sizing: border-box;
  width: 177px;
  list-style-type: none;
  text-decoration: underline;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 55px auto 25px auto;
}

.editorial-page__m-mu-box {
  border: 1px solid #000;
  padding: 30px;
  list-style-type: none;
  font-family: $regular-font;
  background-color: #fff;
  font-size: 15px;

  & li {
    margin-bottom: 7px;
  }

  & li:last-child {
    margin-bottom: 0;
  }
}


</style>
