<template>
  <div class="header-highlights">
    <div class="header-highlights__left">
      This week's highlights
    </div>
    <div class="header-highlights__center">
      {{ frontPage.hightlightsText }}
    </div>
    <div class="header-highlights__right">
      Week - {{ frontPage.week }}
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
    }
  },
  computed: {
    frontPage() {
      return this.$store.getters.getFrontPage
    }

  },
  mounted() {
  }
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.header-highlights {
  margin: 105px 0 40px 0;
  padding: 0 0 0 30px;
  width: 60%;
  max-width: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: initial;

  @include sm {
    max-width: 1380px;
    width: 100%;
    padding: 0;
    margin: 92px auto 90px auto;
    align-items: initial;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    font-family: $medium-font;
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
    width: 178px;
    text-align: left;
    display: inline;

    @include sm {
      width: initial;
      text-align: left;
      padding-bottom: 0;
      display: block;
      font-size: 22px;
      border-bottom: 5px solid #000;
      height: 42px;
      white-space: nowrap;
    }
  }

  &__center {
    // width: 706px;
    font-family: $garamond;
    font-size: 14px;
    // font-style: italic;
    line-height: 1.8;
    margin-top: 45px;
    padding: 0;
    max-width: initial;
    @include sm {
      max-width: 720px;
      padding: 0 0 0 24px;
      margin: 36px 40px 0 40px;
      font-size: 1.2em;
      line-height: 1.5;
      font-size: 16px;
    }
    // background-color: red;
  }

  &__right {
    font-family: $medium-font;
    border-top: 5px solid #000;
    margin-top: 41px;
    padding: 7px 6px 0 42px;
    text-align: right;
    white-space: nowrap;
    display: none;

    @include sm {
      font-size: 22px;
      display: block;
    }

  }

}

</style>

