<template>
  <div
    class="rollercoaster"
  >
    <svg-bg-lines class="rollercoaster__bg-lines"/>
    <div
      v-for="(cardData, i) in cards"
      :key="`rollercoaster__card--${i+1}`"
    >
      <a
        :href="cardData.link !== undefined ? cardData.link : ''"
        class="rollercoaster__link"
        @mouseenter="mouseOverEvents(i)"
        @mouseleave="mouseLeaveEvents()"
      >
        <div
          v-if="hoverNr === i"
          :key="`rollercoaster__cardBorder--${i+1}`"
          :class="`rollercoaster__cardBorder--${i+1}`"
          class="rollercoaster__cardBorder"
        >
          <img :src="`/SVG/RCBorder-${i+1}.svg`">
        </div>

        <highlights-card
          :data="cardData"
          :class="cardData.class"
          class="rollercoaster__card"
        />
      </a>
    </div>
  </div>
</template>

<script>
import SvgBgLines from '@/components/SVG/BGLines'
import HighlightsCard from '@/components/Blocks/HighlightsCard'

export default {
  components: {
    SvgBgLines,
    HighlightsCard,
  },
  data() {
    return {
      hoverNr: null
    }
  },
  computed: {
    cards() {
      return this.$store.getters.getHighlights
    },
  },
  mounted() {
  },
  methods: {
    mouseOverEvents(i) {
      this.hoverNr = i
    },
    mouseLeaveEvents() {
      this.hoverNr = null
    },
    clickEvents(link) {
      // if (link !== undefined) {
      //   window.location.href = link;
      // }
    }
  },
}
</script>


<style lang="scss" scoped>

.rollercoaster {
  position: relative;
  padding-right: 250px;
  margin: 70px auto 0 auto;

  &__link {
    cursor: pointer;
  }
  .rollercoaster__cardBorder {
    z-index: 1000;
    position: absolute;
    transform: translate(-50%, -50%);

    &--1 {
      top: 166px;
      left: 132px;
    }

    &--2 {
      top: 180px;
      left: 503px;
    }

    &--3 {
      top: 159px;
      left: 859px;
    }

    &--4 {
      top: 425px;
      left: 1187px;
    }

    &--5 {
      top: 593px;
      left: 791px;

    }

    &--6 {
      top: 654px;
      left: 411px;
    }

    &--7 {
      top: 1103px;
      left: 165px;
    }

    &--8 {
      top: 1019px;
      left: 546px;

    }

    &--9 {
      top: 1047px;
      left: 934px;
    }
  }

  &__bg-lines {
    // position: absolute;
    position: relative;
    margin: 0 auto;
    top: 60px;
    left: 140px;
    right: 0;
  }

  &__card {
    position: absolute;

    &--1 {
      top: 160px;
      left: 148px;
    }

    &--2 {
      top: 211px;
      left: 503px;
    }

    &--3 {
      top: 159px;
      left: 901px;
    }

    &--4 {
      top: 458px;
      left: 1158px;
    }

    &--5 {
      top: 593px;
      left: 791px;

    }

    &--6 {
      top: 663px;
      left: 433px;
    }

    &--7 {
      top: 1088px;
      left: 147px;

    }

    &--8 {
      top: 1025px;
      left: 546px;

    }

    &--9 {
      top: 1054px;
      left: 934px;
    }
  }
}
</style>

