<template>
  <div
    class="card"
    @mouseenter="mouseEnterEvents()"
    @mouseleave="mouseLeaveEvents()"
  >
    <img
      :src="dataMerged.img + '?h=500'"
      :style="{
        height: dataMerged.height,
        width: dataMerged.width,
        transform: dataMerged.transformImage,
        'object-position': `${dataMerged.position}% ${dataMerged.position}%`
      }"
      class="card__image"
    >
    <span
      :style="{
        float: dataMerged.float,
        transform: dataMerged.transformText,
        'transform-origin': `top ${dataMerged.float}`
      }"
      class="card_text_container"
    >
      <span class="card__title">
        {{ dataMerged.title }}
      </span>
      <span>
        -
      </span>
      <span class="card__author">
        {{ dataMerged.author }}
      </span>
    </span>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    }
  },
  data() {
    return {
      dataDefault:{
        float: 'left',
        title: 'tilte',
        author: 'author',
        transformImage: '',
        transformText: '',
        crop: '',
        height: '300px',
        width: 'auto'
      }
    }
  },
  computed: {
    dataMerged(){
      return {
       ...this.dataDefault,
       ...this.data
      }
    }
  },
  asyncData(ctx) {
  },
  mounted() {
  },
  methods: {
    mouseEnterEvents() {
      this.$emit('mouseenter')
    },
    mouseLeaveEvents() {
      this.$emit('mouseleave')
    }
  }
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.card {
  // background-color: red;
  transform: translate(0%, 0%);
  display: inline-block;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  @include sm {
    display: block;
    transform: translate(-50%, -50%);
  }
  &__image {
    display: block;
    object-fit: cover;
  }

  .card_text_container {
    transform-origin: top left;
    font-size: 0.8rem;
    margin: 0.2rem 0.2rem 0 0;
  }

  &__title {
    font-weight: 700;
  }

  &__author {
  }
}
</style>

