<template>
  <div class="highlights-section">
    <div
      class="highlights-rollercoaster__bg-line"
    />
    <highlights-header />
    <div
      class="highlights-rollercoaster-container"
    >
      <highlights-rollercoaster
        class="highlights-rollercoaster"

      />
      <highlights-rollercoaster-mobile
        class="highlights-rollercoaster-mobile"
      />
    </div>
  </div>
</template>

<script>
import HighlightsHeader from '@/components/Blocks/HighlightsHeader'
import HighlightsRollercoaster from '@/components/Blocks/HighlightsRollercoaster'
import HighlightsRollercoasterMobile from '@/components/Blocks/HighlightsRollercoasterMobile'

export default {
  components: {
    HighlightsHeader,
    HighlightsRollercoaster,
    HighlightsRollercoasterMobile
  },
  data() {
    return {
    }
  },
  computed: {
  },
  mounted() {
  }
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';

.highlights-section {
  position: relative;
// box-sizing: border-box;
  // background-color: #ffaaaa;
  padding: 0;
  @include sm {
    padding: 0 30px 0 30px;
  }

}

.highlights-rollercoaster-container {
  display: flex;
  justify-content: center;;
  // margin: -8px 0 0 68px;

}

.highlights-rollercoaster {
  transform-origin: top center;
  transform: scale(0.55);
  display: none;
  margin-bottom:  -700px;
  // margin-right: 10px;

  @include sm {
    display: block;
  }

  @include lg {
    transform: scale(0.72);
    margin-bottom:  -420px;
    // margin-bottom:  -370px;
  }
  @include xl {
    transform: scale(0.87);
    margin-bottom:  -220px;
  }
  @include xxl {
    margin-bottom:  0;
    transform: scale(1);
  }

  &__bg-line {
    position: absolute;
    display: block;
    border-right: 1px solid #000;
    width: 1px;
    background-color: #000;
    height: calc(100% + 400px);
    top: -400px;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 0 0 0 145px;
    margin-left: auto;
    margin-right: auto;

    @include sm {
      display: none;
    }
  }
}

.highlights-rollercoaster-mobile {
  // display: inline-block;
  // transform-origin: top center;
 display: block;

  @include sm {
    display: none;
  }

}
</style>

