<template>
  <div
    class="rollercoaster"
  >
    <div
      v-for="(cardData, i) in cards"
      :key="`rollercoaster__card--${i+1}`"
    >
      <a
        :href="cardData.link !== undefined ? cardData.link : ''"
        class="rollercoaster__link"
        @mouseenter="mouseOverEvents(i)"
        @mouseleave="mouseLeaveEvents()"
      >
        <highlights-card
          :data="cardData"
          class="rollercoaster__card"
        />
      </a>
    </div>
  </div>
</template>

<script>
import SvgBgLines from '@/components/SVG/BGLines'
import HighlightsCard from '@/components/Blocks/HighlightsCard'

export default {
  components: {
    SvgBgLines,
    HighlightsCard,
  },
  data() {
    return {
      hoverNr: null
    }
  },
  computed: {
    cards() {
      return this.$store.getters.getHighlights
    }
  },
  mounted() {
  },
  methods: {
    mouseOverEvents(i) {
      this.hoverNr = i
    },
    mouseLeaveEvents() {
      this.hoverNr = null
    }
  },
}
</script>


<style lang="scss" scoped>

.rollercoaster {
  padding: 40px 0 100px 0;
  text-align: center;
  position: relative;


  &__card {
    margin: 0 auto 60px auto;
  }
}
</style>

