<template>
  <div>
    <header-block
      :post="post"
    />

    <div
      class="article__content-wrapper"
    >
      <line-block
      />

      <div
        v-for="block in blocks"
        :key="block.sys.id"
        class="article__content-block"
      >
        <interview-block
          v-if="block.sys.contentType.sys.id === 'interviewBlock'"
          :fields="block.fields"
        />
        <line-block
          v-if="block.sys.contentType.sys.id === 'editorialLine'"
        />
        <video-block
          v-if="block.sys.contentType.sys.id === 'editorialVideo'"
          :fields="block.fields"
        />
        <gallery-block
          v-if="block.sys.contentType.sys.id === 'editorialGallery'"
          :fields="block.fields"
        />
      </div>
    </div>

  </div>
</template>

<script>
import HeaderBlock from '@/components/Blocks/Interview/HeaderBlock'
import InterviewBlock from '@/components/Blocks/Interview/InterviewBlock'
import VideoBlock from '@/components/Blocks/Interview/VideoBlock'
import LineBlock from '@/components/Blocks/Interview/LineBlock'
import GalleryBlock from '@/components/Blocks/Interview/GalleryBlock'

export default {
  components: {
    HeaderBlock,
    InterviewBlock,
    VideoBlock,
    LineBlock,
    GalleryBlock,
  },
  props: {
    post: {
      type: Object,
      default() {
        return {

        }
      }
    }
  },
  mounted() {
  },
  computed: {
    blocks() {
      let blocks = this.post.blocks

      return blocks
    },
  },


}
</script>


<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';

.article {
  &__content-wrapper {
      margin: 0 0 80px 0;
    @include sm {
      margin: 0 auto 200px auto;
      padding: 0 32px 0 0;
      max-width: 1224px;
    }
  }

  &__content-block {
    // margin: 0 auto;
  }
}

</style>
