<template>
  <div
    :class="{
      'mobile-header--modal': modal
    }"
    class="mobile-header"
  >
    <nuxt-link tag="a" to="/" :class="{'mobile-header--inverse': inverted}" class="mobile-header__image--logo" >
      <img :src="'/images/yp-logo-small.png'" @click="clickLogo">
    </nuxt-link>

    <transition
      name="fade"
    >
      <div
        v-show="!modal"
        class="mobile-header__image-burger-wrapper"
      >
        <img
          :src="'/images/menu-burger-inv.svg'"
          class="mobile-header__image-burger"
          @click="$store.commit('openModalMenu')"
        >
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    inverse: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  computed: {
    inverted() {
      return this.$store.getters.getInverseLogo
    },
    modal() {
      return this.$store.getters.getMenuModalState
    }

  },
  methods: {
    clickLogo() {
      if ('/' === this.$route.fullPath) {
        this.$store.commit('closeModalMenu')
      } else {
        this.$router.push('/')
      }

    }
  },
  mounted() {

  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';

.mobile-header {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  // background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 23px 0 17px;
  margin-top: 17px;
  &--inverse {
    filter: invert(1);
  }
  @include md {
    display: none;
  }

  &--modal {
    // position: fixed;
    // background-color: red;
  }

  &__image--logo {
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 12px;
    z-index: 100;

    & img {
      height: 69%;
      // width: 97px;
    }
  }

  &__image-burger-wrapper {
    border-radius: 190px;
    position: fixed;
    top: 7px;
    right: 23px;
    padding: 14px 10px;
    cursor: pointer;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 1;

    // background-color: #FFFFFF;

  }

  &__image-burger {
    // margin: 10px;

    // background-color: #fff;
    color: #0F00FF;
    // align-self: center;
    // margin-top: -13px;
    padding: 0 0;
    object-fit: contain;
    object-position: 0% 50%;
  }
}


.fade-enter-active {
  transition: opacity 0.20s ease;
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.20s ease;
  opacity: 0;
}
.fade-enter, .fade-leave-to {
  opacity: 1;
}

</style>
