<template>
  <div
    class="menu-modal-wrapper"
  >
    <div
      class="menu-modal__x"

      @click="clickX()"
    >
      <img src="/images/x-blue.svg">
    </div>
    <div
      class="menu-modal__logo"
      @click="clickEvents('/')"
    >
      <img :src="'/images/yp-logo-small.png'">
    </div>
    <div
      class="menu-modal"
    >
      <div>
        <span
          @click="clickEvents('/about')"
        >
          About
        </span>
      </div>
      <div>
        <span
          @click="clickEvents('/products')"
        >
          Products
        </span>
      </div>
      <div>
        <span
          @click="clickEvents('/articles')"
        >
          Inspiration
        </span>
      </div>
      <div>
        <a
          href="https://instagram.com/"
        >
          Instagram
        </a>

      </div>
      <div>
        <span
          @click="clickEvents('contact')"
        >
          Contact
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    clickEvents(route) {
      document.getElementsByTagName('body')[0].style.overflow = 'visible'
      if (route === this.$route.fullPath) {
        this.$store.commit('closeModalMenu')
      } else {
        this.$router.push(route)
      }
    },
    clickX() {
      this.$store.commit('closeModalMenu')
      document.getElementsByTagName('body')[0].style.overflow = 'visible'
    }
  },
  mounted() {
    document.getElementsByTagName('body')[0].style.overflow = 'hidden'
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.menu-modal {
  width: 100vw;
  z-index: 2000;
  height: 100vh;
  position: fixed;
  text-align: right;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 10px 32px 0 0;
  font-family: $medium-font;
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  & div {
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }
}

.menu-modal__title {
  font-weight: 500;
  font-family: $title-font;
  font-size: 24px;
}
.menu-modal-wrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9000;

}

.menu-modal__x {
  position: fixed;
  z-index: 9990;
  top: 20px;
  right: 33px;
  & img {
    width: 26px;
  }
}

.menu-modal__logo {
  position: absolute;
  z-index: 2001;
  top: 26px;
  left: 29px;

  & img {
    width: 97px;

  }
}
</style>
