<template>
  <div
    v-show="loaded"
    class="product-list-item"
  >
    <div class="product-list-item__text-wrapper">
      <nuxt-link
        :to="link"
        :id="'fitty-text-'+nr"
        tag="a"
        class="product-list-item__text"
        @click.native="onClick()"
      >
        {{ data.brand }}: {{ data.productName }} #{{ data.productCategory.fields.categoryName.toLowerCase() }}
      </nuxt-link>
    </div>
    <div class="product-list-item__text-wrapper-mobile">
      <nuxt-link
        :to="link"
        tag="a"
        class="product-list-item__text"
        @click.native="onClick()"
      >
        {{ data.brand }}: {{ data.productName }}
      </nuxt-link>
    </div>
    <div
      class="product-list-item__images"
    >
      <div
        v-for="(img, j) in data.images"
        :key="j"
        v-if="j < 3"
        class="product-list-item__image-wrapper"
      >
        <nuxt-link
          :to="link"
          :id="'fitty-text-'+nr"
          tag="a"
          @click.native="onClick(j)"
        >
          <img
            v-if="img.fields"
            :src="img.fields.file.url+'?h=800'"
            class="product-list-item__image"
          >
        </nuxt-link>



      </div>
      <div
        v-if="data.images.length === 1"
        class="product-list-item__image-wrapper"
      />
      <div
        v-if="data.images.length === 2"
        class="product-list-item__image-wrapper"
      />
    </div>
  </div>
</template>

<script>
import fitty from 'fitty'

export default {
  props: {
    data: {
      type: Object,
      default() {
        return {

        }
      }
    },
    nr: {
      type: Number,
      default() {
        return ''
      }
    }
  },
  data() {
    return {
      loaded: false,
      formattedType: false
    }
  },
  computed: {
    regions() {
      let obj = {}
      // this.data.stores.filter( (item, pos) => { this.data.stores.indexOf(item) == pos })
      let arrOfRegions = this.data.stores.map(x =>  x.fields.region )
      arrOfRegions = arrOfRegions.filter( (item, pos) => arrOfRegions.indexOf(item) == pos)
      return arrOfRegions
    },
    link() {
      const type = this.data.productCategory.fields.categoryName

      let link = '/products/' + this.formattedType + '/' + this.data.productCategory.fields.slug + '/' + this.data.slug

      return link
    }
  },
  async mounted() {
    this.formattedType = await this.$store.dispatch('categoryTypeFormatter', {categoryType: this.data.productCategory.fields.facePart, direction: 'to slug'})

    let size = this.$mq === 'sm' ? 24 : 70
    let fitties = fitty('#fitty-text-' + this.nr, {
      // minSize: 12,
      maxSize: size
    });
    if ( this.$mq !== 'sm' ) {
      fitties || fitties[0].fit();
    }
    this.loaded = true
  },
  methods: {
    onClick(imgNr = 0) {
      this.$store.commit('setFirstProductImage', imgNr)
    }
  }
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';
@import '@/assets/css/fonts.scss';

.product-list-item {
  margin: 2.3rem auto 1.4rem;
  // width: 100%;
  // height: 100px;
  // position: relative;
  // overflow: hidden;
  width: 100vw;
  @include sm {
    overflow: hidden;
    margin: 1.5rem auto 0 auto;
    display: block;
    width: 1100px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__image-wrapper {
    // display: inline-block;
    width: 31%;
    overflow: hidden;
    height: 142px;
    cursor: pointer;
    // width: 33%;
    // margin: 0 0 0 2.5rem;
    @include sm {
      width: 34%;
      height: 484px;
      // margin: 0 0 0 2.5rem;
      // width: 300px;
    }

  }
  &__image {
    // @include sm {
    width: 100%;
    // }
  }

  &__text-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: none;
    @include sm {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &__text-wrapper-mobile {
    display: block;
    padding: 0 55px;
    margin: 0 0 6px 0;
    @include sm {
      display: none;
      width: 100%;
    }
  }

  &__text {
    cursor: pointer;
    font-size: 24px;
    display: inline;
    margin: 0 0 17px 0;
    background-image: initial;
    text-shadow: -2px 5px #fff;
    line-height: 0.8;
    // line-height: 1;
    text-align: left;
    font-family: $garamond;
    // height: 29px;
    @include sm {
      // display: block;
      text-align: center;
      font-size: 200rem;
      // height: 85px;
      margin: 0 auto;
      transform: translateY(45%);
    }

    &:hover {
    }

  }
}

</style>

