<template>
  <div class="feature">
    <div class="feature__text">
      <h1>
        Explore real diversity of beauty and fashion.
      </h1>
      <p>
        Your Palette is lorem ipsum Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
      </p>
    </div>
    <div
      class="feature__links"
    >
      <span> <a href="insta">Facebook</a> </span>
      <span> <a href="insta">Instagram</a> </span>
      <span> <a href="insta">Twitter</a> </span>
    </div>
  </div>
</template>

<script>
import HighlightsHeader from '@/components/Blocks/HighlightsHeader'
import HighlightsRollercoaster from '@/components/Blocks/HighlightsRollercoaster'

export default {
  components: {
    HighlightsHeader,
    HighlightsRollercoaster
  },
  data() {
    return {
    }
  },
  computed: {
  },
  mounted() {
  }
}
</script>


<style lang="scss" scoped>
.feature {
  background-color: #262626;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__text {
    color: #fff;
    width: 576px;
    font-family: Adobe Garamond Pro;
    h1 {
      font-size: 3.8rem;
      font-weight: 300;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 100;
      width: 394px;
    }
  }

  &__links {
    transform: rotate(270deg);
    position: absolute;
    left: -90px;
    top: 290px;
    font-family: $regular;
    font-weight: 100;
    span {
      margin-right: 2rem;
    }

    a {
      color: #ffffff;

    }
  }
}

</style>

