<template>
  <div class="header-wrapper">
    <div class="header">
      <div
        class="header__inner-border"
      />
      <div class="header__inner-wrapper">

        <nuxt-link
          class="logo"
          tag="div"
          to="/"
          exact
        >
          <img src="/images/logo.svg">
        </nuxt-link>
        <div
          class="header__inner-group--1"
        >
          <nuxt-link
            class="header__item"
            tag="a"
            to="/products"
            exact
          >
            products
          </nuxt-link>
          <nuxt-link
            class="header__item"
            tag="a"
            to="/articles"
            exact
          >
            inspiration
          </nuxt-link>
          <a
            class="header__item"
            href="https://instagram.com/"
          >
            instagram
          </a>
        </div>
        <div
          class="header__inner-group--2"
        >
          <nuxt-link
            class="header__item header__item--about"
            tag="a"
            to="/about"
            exact
          >
            about
          </nuxt-link>
          <nuxt-link
            class="header__item"
            tag="a"
            to="/contact"
            exact
          >
            contact
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

export default {
  components: {
    },
  data() {
    return {
      }
  },
  computed: {
    },
  mounted() {
    }
}
</script>
<style lang="scss" scoped>

@import '@/assets/css/fonts.scss';
@import '@/assets/css/media-queries.scss';
.header-wrapper {
  display: none;
  @include sm {
    padding-top: 23px;
    // padding-bottom:10px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    // height: 100px;
    // overflow: hidden;
    background-color: #fff;

  }
}

.header {
  display: none;
  box-sizing: border-box;
  justify-content: center;
  height: 58px;
  align-items: center;
  font-size: 12px;
  font-family: $medium-font;
  width: 100%;
  position: sticky;

  @include md {
    display: flex;
  }


  &__inner-wrapper {
    // width: 1440px;
    display: flex;
    justify-content: space-between;
    max-width: 1162px;
    width:100%;
    align-items: center;
    height: 100%;
    margin: 0 30px 0 55px;
    z-index: 10;
  }

  &__inner-border {
    display: flex;
    align-items: center;
    border-top: 1px solid #0F00FF;
    // box-shadow: 1px 1px 1px 1px #0F00FF;
    border-bottom: 1px solid #0F00FF;
    height: 100%;

    width: 100%;
    position: absolute;
    z-index: 1;
  }

  &__inner-group {
    &--1 {
      max-width: 394px;
      margin: 0 30px 0 160px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      // background-color: #aaa;
    }
    &--2 {
      margin: 0 0 0 30px;
      max-width: 188px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      // background-color: #aaa;
    }
  }

  &__item {
    text-transform: uppercase;
    font-size: 14px;
    // margin: 0 20px;

    &--last {
      margin: 0;
    }
  }
}



.logo {
  font-family: $title-font;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  margin: 1px -60px 0 0;
  & > span:first-child {
    margin-right: 17px;
  }
}


a {
  color: black;
  .nuxt-link-exact-active {
    border-bottom: 1px solid #FFF;
  }
}

</style>

