<template>
  <div>
    <div
      v-for="(item, i) in products"
      :key="i"
    >
      <product-list-item
        v-if="feedLength > i"
        :data="item"
        :nr="i"
      />
    </div>
  </div>
</template>

<script>
import ProductListItem from '@/components/Blocks/ProductListItem'

export default {
  components: {
    ProductListItem
  },
  props: {
    products: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
    }
  },
  computed: {
    feedLength() {
      return this.$store.getters.getFeedLength
    }
  },
  mounted() {
  }
}
</script>


<style lang="scss" scoped>

</style>

