<template>
  <div
    class="selector-container"
  >
    <div
      :class="{'selector-item--selected': selectedItem === 'All'}"
      class="selector-item"
      @click="selectedItem = 'All'; $router.push('/products')"
    >
      All
    </div>
    <div
      :class="{'selector-item--selected': selectedItem === 'Lips'}"
      class="selector-item"
      @click="selectedItem = 'Lips'; $router.push('/products/lips')"
    >
      Lips
    </div>
    <div
      :class="{'selector-item--selected': selectedItem === 'Eyes'}"
      class="selector-item"
      @click="selectedItem = 'Eyes'; $router.push('/products/eyes')"
    >
      Eyes
    </div>
    <div
      :class="{'selector-item--selected': selectedItem === 'Base'}"
      class="selector-item"
      @click="selectedItem = 'Base'; $router.push('/products/base')"
    >
      Base
    </div>
  </div>
</template>

<script>
import InputAutoComplete from '@/components/UI/InputAutoComplete'

export default {
  components: {
    InputAutoComplete
  },
  data () {
    return {
      selectedItem: 'All',
    }
  },
  computed: {
    categories() {
      return this.$store.getters.getCategories
    }
  },
  methods: {
    clicked(block) {
      if (block === this.selected ) {
        return
      }
      this.selected = null
      this.$nextTick(() => {
        this.selected = block
      })
    }
  },
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/fonts.scss';
@import '@/assets/css/media-queries.scss';


.selector-container {
  font-family: $medium-font;
  font-size: 14px;
  width: 100%;
  margin: 20px 20px 20px 20px;
  flex-wrap: wrap;
}

.selector-item {
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  color: #DCDBDB;

  &--selected {
    color: #333;
  }
}


</style>
