<template>
  <div
    class="selector-header"
    @click="$router.push('/products')"
  >

    <div
      class="selector-header__row-two"
    >
      <div
        class="selector-header__row-two-filter-wrapper"
      >
        <div
          class="selector-header__row-two-filter"
        >
          <span>
            &nbsp;
          </span>
        </div>
      </div>
      <div
        class="selector-header__row-two-but"
      >
        but different

        <div
          class="selector-header__row-one"
        >
          <div>
            Same

          </div>
          <div>
            same,
          </div>
        </div>
      </div>
      <div
        class="selector-header__row-two-filter-wrapper selector-header__row-two-filter-wrapper--line-2"
      >
        <div
          class="selector-header__row-two-filter selector-header__row-two-filter--line-2"
        >
          &nbsp;
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  components: {
    },
  data () {
    return {
      }
  },
  computed: {
    },
  mounted() {
    },
  methods: {
  },
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/fonts.scss';
@import '@/assets/css/media-queries.scss';

.selector-header {
  margin: 61px 0 0 0;
  font-size: 1.2rem;
  width: 100%;
  font-family: $medium-font;
  // transform: scale(0.5);
  @include sm {

  // transform: scale(1);

  }


  &__row-one {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $adobe-caslon-font;
    position: relative;
    height: 86px;
    padding: 0;
    margin: 0 -20px;
    bottom: 107px;
    right: 36px;

    // background-color: #aaa;
    font-size: 72px;
    @include sm {
      bottom: 297px;
      right: 67px;
      align-items: flex-end;
      margin: 0 -55px;
      font-size: 180px;
      height: 207px;
    }
    & > div {
      height: auto;
      @include sm {
        height: 120px;


      }

    }

    & > div:last-child {
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 64px;

      @include sm {
        position: relative;
        top: -70px;
        right: 40px;
        font-size: 180px;
      }

    }
  }

  &__row-two {
    display: flex;
    justify-content: space-between;
    margin: 140px 0px 0 0;
    width: 100%;

    // overflow:hidden;
    // background-color: red;
    @include sm {
      height: 100px;
      margin: 367px 0 0 0;
    }
  }

  &__row-two-filter-wrapper {
    width: 100%;
    margin-left: -30px;
    margin-right: -30px;

    &--line-2 {

      display: none;
      @include sm {
        width: 500px;
        // max-width: 400px;
        margin-left: 0;
        display: block;
      }

    }
  }

  &__row-two-filter {
    // border-bottom: 1px solid #000;
    padding: 5px 0 10px 0;
    margin: 0 6px 0 0;
    position: relative;
    @include sm {
      margin: 0 20px 0 0;
      padding: 5px 0 10px 0;
    }

    & span {
      display: none;
      @include sm {
        display: block;
      }
    }
    &--line-2 {
      // position: absolute;
      // width: 220px;
      display: none;
      @include sm {
        width: calc(100%);
        display: block;
      }

    }
  }

  &__row-two-but {
    font-family: $adobe-caslon-font;
    background-color: white;
    // background-color: red;
    margin: 0 0 0 0;

    z-index: 200;
    padding: 7px 0 0 5px;
    font-size: 20px;
    white-space: nowrap;
    height: 20px;
    @include sm {
      height: 50px;
      padding:  0 0 0 20px;
      display: block;
      font-size: 55px;
      margin: 0 20px 0 30px;

    }

  }
}
</style>

