<template>
  <div
    class="selector-container"
  >
    <input-auto-complete
      :type="'Lips'"
      :items="categories.lips"
      :prefix="'#'"
      :selected="selected === 'Lips'"
      class="selector-item selector-item--1"
      @click.native="clicked('Lips')"
      @value="getCategory($event, 'Lips')"
    />
    <input-auto-complete
      :type="'Eyes'"
      :items="categories.eyes"
      :selected="selected === 'Eyes'"
      :prefix="'#'"
      class="selector-item selector-item--4"
      @click.native="clicked('Eyes')"
      @value="getCategory($event, 'Eyes')"
    />
    <input-auto-complete
      :type="'Base'"
      :items="categories.base"
      :selected="selected === 'Base'"
      :prefix="'#'"
      class="selector-item selector-item--2"
      @click.native="clicked('Base')"
      @value="getCategory($event, 'Base')"
    />
  </div>
</template>

<script>
import InputAutoComplete from '@/components/UI/InputAutoComplete'

export default {
  components: {
    InputAutoComplete
  },
  data () {
    return {
      selected: 'Lips',
    }
  },
  computed: {
    categories() {
      return this.$store.getters.getCategories
    },
    categoriesArray(state) {
      return this.$store.getters.getCategoriesArray
    }
  },
  methods: {
    async getCategory(category, type) {
      type = await this.$store.dispatch('categoryTypeFormatter', {categoryType: type, direction: 'to slug'})
      const match = this.categoriesArray.find(x => x.fields.categoryName === category)

      this.$router.push('/products/' + type + '/' + match.fields.slug)
    },
    clicked(block) {
      if (block === this.selected ) {
        return
      }
      this.selected = null
      this.$nextTick(() => {
        this.selected = block
      })
    }
  },
}
</script>


<style lang="scss" scoped>
@import '@/assets/css/fonts.scss';
@import '@/assets/css/media-queries.scss';


.selector-container {
  font-family: $medium-font;
  display: flex;

  // justify-content: space-between;
  width: 100%;
  margin: 30px 20px 20px 20px;
  flex-wrap: wrap;
  @include sm {
    width: 500px;
    margin: -42px 120px 100px 140px;
    flex-wrap: nowrap;
    // justify-content: space-between;

    // width: 100%;
  }

}

.selector-item {
  height: 35px;
  // min-width: 10px;
  // max-width: 100%;
  width: 50%;
  box-sizing: border-box;


  @include sm {
    height: auto;
    min-width: initial;
    max-width: initial;
    width: initial;

    // width: 100%;
    margin: 0 80px 0 0;
  }

  &--1 {
    order: 1;
    @include sm {
      order: 1;
    }
  }

  &--2 {
    order: 4;
  }

  &--3 {
    order: 3;
    @include sm {
      order: 3;
    }
  }

  &--4 {
    order: 2;
    @include sm {
      order: 4;
    }

  }
}


</style>
