<template>
  <div>
    <div
      v-if="true || productsLoaded"
    >
      <!-- || correctProductListLoaded -->
      <product-modal
        id="product"
        :show="productsLoaded"
        :product-index="productIndex"
        :products="products"
        class="product-modal"
        @navigation="switchPage($event)"
      />
      <product-modal-mobile
        id="product"
        :show="productsLoaded"
        :products="products"
        :product-index="productIndex"
        class="product-modal-mobile"
        @navigation="switchPage($event)"
      />
    </div>
  </div>
</template>

<script>
import ProductModal from '@/components/Blocks/ProductModal/ProductModal'
import ProductModalMobile from '@/components/Blocks/ProductModal/ProductModalMobile'
import VueScrollTo from 'vue-scrollto'

export default {
  head() {
    return {
      title: `${this.product.fullProductName} - Your Palette`
    }
  },
  components: {
    ProductModal,
    ProductModalMobile
  },
  async fetch({ params, store }) {
    await store.dispatch('fetchCategories')
    await store.dispatch('fetchProducts', {
        category: params.category,
        categoryType: params.categoryType,
      })

  },
  data() {
    return {
      param: this.$route.params.category,
      showNr: 0
    }
  },
  // layout: 'no-header',
  computed: {
    products() {
      return this.$store.getters.getCategory
    },
    correctProductListLoaded() {
      return this.$store.getters.getCategory.length > 0 && this.$route.params.category === this.$store.getters.getCategory[0].productCategory.fields.slug
    },
    product() {
      if (this.products.length !== 0) {
        return this.products.find(item => item.slug === this.$route.params.id && this.$route.params.category === item.productCategory.fields.slug)
      } else {
        return {
          fullProductName: ''
        }
      }
    },
    productIndex() {
      return this.products.findIndex(item => item.slug === this.$route.params.id)
    },
    productsLoaded() {
      return this.products.length !== 0
    }
  },
  watch: {
    products(val) {
    }
  },
  mounted() {
    let options = {
        // container: '#product-wrapper',
        easing: 'ease-in',
        offset: -30,
        force: true,
        cancelable: true,
        onStart: (element) => {
          // scrolling started
        },
        onDone: (element) => {
          // scrolling is done
        },
        onCancel: () => {
          // scrolling has been interrupted
        },
        x: false,
        y: true
    }
    this.$nextTick(()=> {
      let cancelScroll = this.$scrollTo('#product', 100, options)
    })

    // cancelScroll()
  },
  methods: {
    switchPage(direction) {
      const newPageSlug = this.products[this.productIndex + direction].slug
      this.$router.push(`/products/${this.$route.params.categoryType}/${this.$route.params.category}/${newPageSlug}`)
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/media-queries.scss';

.product-modal {
  display: none;
  @include sm {
    display: block;

  }
}

.product-modal-mobile {
  display: block;

  @include sm {
    display: none;
  }
}
</style>
